header.profile-rate {
  padding: 32px;
  background-color: rgb(248, 248, 248);
}

header.profile-rate .big-title {
  text-transform: uppercase;
}

/* 구매현황 */
.current-orderPrice {
  display: flex;
  padding: 32px;
}
.current-orderPrice > div {
  flex-basis: 50%;
}
.current-orderPrice > div:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.current-orderPrice > div:nth-child(2) {
  padding: 40px 0;
}
.current-orderPrice > div:nth-child(1) > p {
  margin-bottom: 10px;
}
.percentage-bar {
  position: relative;
  height: 16px;
  background-color: rgb(229, 229, 229);
}
.percentage {
  position: absolute;
}
div.percentage {
  background-color: black;
  height: 16px;
}
span.percentage {
  top: -16px;
}

span.percentage span {
  position: absolute;
  top: -16px;
  left: -60px;
  display: inline-block;
  width: 100px;
}

#max-price {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #8d8d8d;
}

@media screen and (max-width: 600px) {
  .current-orderPrice {
    flex-direction: column;
  }
}
