.order-detail-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.order-card {
  flex-basis: 49%;
  border: 1px solid;
  margin-bottom: 20px;
}

.order-detail-info-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);
  padding: 10px 20px;
}
/* --------------------------------------------------------------배송지*/
.shipping-info-wrapper {
  display: flex;
  justify-content: space-between;
}
.detail-col {
  flex-basis: 49%;
}
.shipping-info > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 20px;
}
.shipping-point-wrapper {
  padding: 20px 0;
}
.shipping-point-wrapper > li {
  padding: 10px 20px;
}

.buy-where {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.order-price {
  padding: 15px 20px;
}
.order-price > p {
  padding-bottom: 10px;
}

/* --------------------------------------------------------------결제 정보*/
.order-pay-info {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.order-pay-info > div {
  width: 50%;
}

.order-pay-box > * {
  padding: 10px 20px;
}
.order-pay-box > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

/* 배송 정보 */
.current-shipping-box {
  padding: 0 20px;
}
.current-shipping-box .col {
  width: auto;
}
.current-shipping-box > p:first-child {
  padding: 10px 0;
}

/* 배송주문상품*/
.order-info-wrapper {
  border-top: 1px solid #e0e0e0;
  padding: 10px 0 10px 20px;
}
.order-info-wrapper > p {
  padding-right: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.order-info-wrapper > p > a {
  text-decoration: underline;
}

/* --------------------------------------------------------------모달창*/
/* 배송지 변경 버튼 */
label[for="order-shipping-modify"] {
  cursor: pointer;
}

#order-shipping-modal {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.order-shipping-box {
  display: none;
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 600px;
}

.order-shipping-box > label {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

/*  반응형 */
@media screen and (max-width: 1215px) {
  .order-detail-box {
    flex-direction: column;
  }
  .order-info-content {
    justify-content: start;
  }
  .order-info-detail {
    padding-left: 20px;
  }
}

@media screen and (max-width: 510px) {
  .order-detail-box {
    display: block;
  }
  .shipping-info > p {
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .order-shipping-box {
    width: 90%;
  }
}
