.complete-box {
  width: 80%;
  margin: 0 auto;
}

.complete-header {
  padding: 60px 0;
  text-align: center;
}

.complete-header > * {
  margin-bottom: 20px;
}
.complete-header .btn-rectangle {
  display: inline-block;
  padding: 20px 80px;
}
.order-info-box {
  display: flex;
  flex-direction: column;
  width: 525px;
  margin: 0 auto;
}

.order-info-box > ul {
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}
.order-info-box > ul > li {
  display: flex;
}
.order-info-box > ul > li > * {
  padding: 10px;
}

section .list-title {
  text-align: center;
  background-color: rgb(245, 245, 245);
}

/*  */
.order-info-wrapper > li > span:first-child {
  display: inline-block;
  min-width: 100px;
  text-align: center;
}
.order-info-wrapper > li > span:nth-child(2) {
  flex: 1;
}

/*  */
.order-detail-info > li > span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 100px;
  word-break: break-all;
  border-right: 1px solid #e0e0e0;
}
/* 주문상품내역 */
.order-detail-info > li > span:nth-child(2) {
  flex: 1;
  text-align: center;
}
.order-detail-info > li > div:nth-child(2) {
  flex: 1;
  display: flex;
}
.complete-img-wrapper {
  width: 190px;
  height: 190px;
}
.complete-oderInfo-detail {
  display: flex;
  flex-basis: 49%;
  flex-direction: column;
  margin-left: 10px;
}
.complete-oderInfo-detail > span {
  padding: 10px 0;
}
