@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}

#checkout input[type="checkbox"] {
  display: none;
}

#checkout input {
  padding: 9px 12px;
  width: 100%;
}

/* header */
.checkout-header-box {
  /* border: 1px solid; */
  text-align: center;
}
/* main-content */
.checkout-main-box {
  /* border: 1px solid; */
  display: flex;
  width: 100%;
  min-height: 563px;
}
/* 회원 정보 입력 */
.client-detail-box {
  flex-basis: 70%;
  padding-right: 40px;
  /* border: 1px solid; */
}

.checkout-tab-box {
  /* padding: 32px 25px; */
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
}
.checkout-list-header {
  padding: 32px 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}
#checkout i {
  cursor: pointer;
}
#checkout .xi-plus {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#checkout .xi-plus #username {
  font-size: 11px;
  margin-right: 20px;
  cursor: default;
}
#checkout .xi-minus {
  display: none;
}

.checkout-list-box > li {
  margin-bottom: 10px;
  padding: 0 25px;
  display: none;
}

#checkout-client-detail:checked ~ li {
  display: block;
}
#checkout-client-detail:checked + label .xi-minus {
  display: block;
}
#checkout-client-detail:checked + label .xi-plus {
  display: none;
}

#checkout-address-box ul > li {
  min-height: 90px;
  flex-direction: column;
  justify-content: center;
}
#checkout-address-box #address-list1 {
  flex-direction: row;
  align-items: center;
}

/* 받으시는 분 연락처 5:5 */
#checkout-address-box #address-list1 > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* 받으시는 분 과 연락처 사이 마진 */
#checkout-address-box #address-list1 > div + div {
  margin-left: 10px;
}

#checkout-address-detail:checked ~ li {
  display: flex;
}
#checkout-address-box ul > li button:focus {
  outline: none;
}
#checkout-address-box ul > li button {
  padding: 20px 0;
  background-color: black;
  color: #ffffff;
}
#checkout-address-detail:checked + label .xi-minus {
  display: block;
}
#checkout-address-detail:checked + label .xi-plus {
  display: none;
}
#checkout-sale-detail:checked ~ li {
  display: block;
}
#checkout-sale-detail:checked + label .xi-minus {
  display: block;
}
#checkout-sale-detail:checked + label .xi-plus {
  display: none;
}

#checkout-pay-detail:checked ~ li {
  display: block;
}
#checkout-pay-detail:checked + label .xi-minus {
  display: block;
}
#checkout-pay-detail:checked + label .xi-plus {
  display: none;
}

/* --------------------------------------------------------배송지가 있을 때 */
.tab-header {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
}
.tab-header label {
  flex-basis: 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}
.checkout-address-oldList {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 10px;
  cursor: pointer;
}
.checkout-address-oldList + .checkout-address-oldList {
  border-top: 1px solid #e0e0e0;
}
.checkout-address-newList {
  display: none;
  width: 100%;
  padding: 20px 0;
  border: 1px solid #e0e0e0;
  border-top: none;
}
.checkout-address-memo {
  display: none;
}
/* 체크된 해당사항 보여주기 */
#checkout-address-tab-old:checked ~ .checkout-address-oldList,
#checkout-address-tab-old:checked ~ .checkout-address-memo {
  display: flex;
}
#checkout-address-tab-new:checked ~ .checkout-address-newList {
  display: flex;
}
.checkout-address-oldList > span {
  padding: 10px 0;
}
/* 다음단계 활성화 시 보여질 정보들 */
#before-next-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 25px;
}
#before-next-step p {
  margin: 10px;
}
/* 미리보기 주소 */
span#after-address {
  font-size: 11px;
  margin-right: 20px;
  cursor: default;
}
.after-checkout {
  font-size: 16px;
}

/* 장바구니 바로가기 링크 */
.checkout-list-box li:last-child a {
  text-decoration: underline;
  padding: 20px 0;
}
.selected-address {
  background-color: rgb(246, 246, 246);
  border: 1px solid #e0e0e0;
  transition: 0.35s;
}

.checkout-address-newList ul {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

/* --------------------------------------------------------상품 디테일 박스 */
.order-detail-box {
  flex-basis: 30%;
  margin-right: 20px;
}

.order-detail-box .img-wrapper {
  width: 120px;
  height: 120px;
}

.order-detail-thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 20px;
}

/* 다음단계 진행되기 전까진 터치 불가 */
.checkout-next-step {
  color: #e0e0e0;
  pointer-events: none;
}

.alert-msg {
  font-size: 10px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .checkout-main-box {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .client-detail-box {
    padding-right: 0;
  }
  .order-detail-box {
    margin-right: 0;
  }
}
