#checkout input[type="checkbox"] {
  display: none;
}

#checkout input {
  padding: 9px 12px;
  width: 100%;
}

/* header */
.checkout-header-box {
  /* border: 1px solid; */
  text-align: center;
}
/* main-content */
.checkout-main-box {
  /* border: 1px solid; */
  display: flex;
  width: 100%;
  min-height: 563px;
}
/* 회원 정보 입력 */
.client-detail-box {
  flex-basis: 70%;
  padding-right: 40px;
  /* border: 1px solid; */
}

.checkout-tab-box {
  /* padding: 32px 25px; */
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
}
.checkout-list-header {
  padding: 32px 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
#checkout i {
  cursor: pointer;
}
#checkout .xi-plus {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#checkout .xi-plus #username {
  font-size: 11px;
  margin-right: 20px;
  cursor: default;
}
#checkout .xi-minus {
  display: none;
}

.checkout-list-box > li {
  margin-bottom: 10px;
  padding: 0 25px;
  display: none;
}

#checkout-client-detail:checked ~ li {
  display: block;
}
#checkout-client-detail:checked + label .xi-minus {
  display: block;
}
#checkout-client-detail:checked + label .xi-plus {
  display: none;
}

/* #checkout-address-box input {
    padding: 9px 12px;
    width: 100%;
  } */
#checkout-address-box ul > li {
  min-height: 90px;
  flex-direction: column;
  justify-content: center;
}
#checkout-address-box #address-list1 {
  flex-direction: row;
  align-items: center;
}

/* 받으시는 분 연락처 5:5 */
#checkout-address-box #address-list1 > div {
  flex: 1;
}

/* 받으시는 분 과 연락처 사이 마진 */
#checkout-address-box #address-list1 > div + div {
  margin-left: 10px;
}

#checkout-address-detail:checked ~ li {
  display: flex;
}
#checkout-address-box ul > li button:focus {
  outline: none;
}
#checkout-address-box ul > li button {
  padding: 20px 0;
  background-color: black;
  color: #ffffff;
}
#checkout-address-detail:checked + label .xi-minus {
  display: block;
}
#checkout-address-detail:checked + label .xi-plus {
  display: none;
}
#checkout-sale-detail:checked ~ li {
  display: block;
}
#checkout-sale-detail:checked + label .xi-minus {
  display: block;
}
#checkout-sale-detail:checked + label .xi-plus {
  display: none;
}

#checkout-pay-detail:checked ~ li {
  display: block;
}
#checkout-pay-detail:checked + label .xi-minus {
  display: block;
}
#checkout-pay-detail:checked + label .xi-plus {
  display: none;
}

/* 상품 디테일 박스 */
.order-detail-box {
  flex-basis: 30%;
  margin-right: 20px;
}

.order-detail-box .img-wrapper {
  width: 120px;
  height: 120px;
}

.order-detail-thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 20px;
}

/* 다음단계 진행되기 전까진 터치 불가 */
.checkout-next-step {
  color: #e0e0e0;
  pointer-events: none;
}

.alert-msg {
  font-size: 16px;
  font-weight: bold;
}
