.complete-box {
  width: 80%;
  margin: 0 auto;
}

.complete-header {
  padding: 35px 0;
  text-align: center;
}

.complete-header > * {
  margin-bottom: 20px;
}
.complete-header .btn-rectangle {
  display: inline-block;
  padding: 20px 80px;
}
.order-info-box {
  display: flex;
  flex-direction: column;
  width: 525px;
  margin: 0 auto;
}

.order-info-box > ul {
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}
.order-info-box > ul > li {
  display: flex;
}
.order-info-wrapper > li > * {
  padding: 10px;
}

section .list-title {
  padding: 10px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

/*  */
.order-info-wrapper > li > span:first-child {
  display: inline-block;
  min-width: 100px;
  text-align: center;
}
.order-info-wrapper > li > span:nth-child(2) {
  flex: 1;
}

/*  */
.order-detail-content {
  display: flex;
  flex-direction: column;
}
.order-detail-content.orderNumber {
  flex-basis: 30%;
  border-right: 1px solid #e0e0e0;
}
.order-detail-content.orderInfo {
  flex-basis: 70%;
}
.order-detail-content.orderInfo > div {
  display: flex;
  padding: 10px;
}
.order-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 주문상품내역 */
.complete-img-wrapper {
  width: 190px;
  height: 190px;
}
.complete-oderInfo-detail {
  display: flex;
  flex-basis: 49%;
  flex-direction: column;
  margin-left: 10px;
}
.complete-oderInfo-detail > span {
  padding: 10px 0;
}

@media screen and (max-width: 600px) {
  /* 타이틀 크기 */
  .big-title {
    font-size: 22px;
  }
  h4 {
    font-size: 11px;
  }
  .complete-header .btn-rectangle {
    padding: 20px 75px;
  }

  /* 반응형 퍼센트 적용 */
  .order-info-box {
    width: 90%;
  }
  /* 세로정렬 */
  .order-info-box > ul > li,
  .order-detail-content.orderInfo > div {
    display: flex;
    flex-direction: column;
  }
  /* border-right 삭제 */
  .order-detail-content.orderNumber {
    flex-basis: auto;
    border-right: none;
  }
  /* 주문번호에 padding */
  .order-number {
    padding: 10px 0;
  }

  /*이미지 가운데 정렬 */
  .complete-img-wrapper {
    margin: 0 auto;
  }
}
