.shipping-title {
  display: flex;
  width: 100%;
  padding-right: 20px;
  justify-content: space-between;
}
.shipping-title > label {
  cursor: pointer;
}
.order-address-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order-address-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  height: 230px;
  padding: 30px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}
.order-address-nickname {
  margin-bottom: 20px;
}

.order-address-wrapper span:nth-child(1) {
  font-size: 11px;
  margin-right: 30px;
}

.order-address-wrapper span:nth-child(2) {
  font-size: 13px;
}

/* modal */
#plus-shipping,
#modify-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.shipping-box {
  width: 600px;
  height: 605px;
  background-color: #ffffff;
}
.shipping-box > label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
}
.shipping-box > label > i {
  margin-right: 10px;
}

#shipping-modal:checked ~ #plus-shipping {
  opacity: 1;
  z-index: 100;
  overflow: hidden;
}

#form-shipping-plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  height: 460px;
  margin: 0 auto;
}

#form-shipping-plus input {
  width: 525px;
  padding: 9px 12px;
  margin-bottom: 15px;
}

#form-shipping-plus input[type="submit"] {
  margin-top: 40px;
  background-color: black;
  color: #ffffff;
  border: none;
}

/* 수정하기 모달창 */
#shipping-modify:checked ~ #modify-shipping {
  opacity: 1;
  z-index: 100;
  overflow: hidden;
}
