{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'product/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'product/css/about.css' %}" />
    <!-- xeicon -->
    <link
      rel="stylesheet"
      href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'product/js/jquery.fade-in.js' %}"></script>
  </head>
  <body>
    <section id="landing-page">
      <video class="landing-video" autoplay muted loop playsinline>
        <source
          type="video/mp4"
          src="{% static 'product/video/400274_ABOUTNIKE2019_4_original.mp4' %}"
        />
      </video>
      <header>
        <div class="logo-wrapper">
          <a href="/">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
              alt="나이키로고"
            />
          </a>
        </div>
        <button>
          <div class="hamburger"></div>
        </button>
      </header>
      <div id="landing-header">
        <span class="big-title">Nike CloneCoding</span>
        <span class="main-title">CampusPick Study</span>
        <span class="main-title">With Django</span>
        <span class="main-title">PortPolio</span>
        <span class="sub-title">20.02.02 ~ 20.03.31</span>
      </div>
    </section>
    <!-- about -->
    <section class="fade-in" data-fade-in-speed="800">
      <div class="section-content-box">
        <div class="comment-box">
          <span class="main-title">ABOUT OUR PROJECT</span>
          <p>
            이 프로젝트는 캠퍼스 픽에서 자체적으로 진행한 장고 스터디의
            프로젝트이며<br />
            <br />
            백엔드 개발 3명 : 김초혜, 변형욱, 이소연<br />
            프론트 개발 1명 : 김민수<br />
            위와 같이 4명이 참가한 프로젝트입니다. <br />
            <br />
            한 달이라는 짧은 시간안에 최대한의 완성도를 뽑아 내고자 <br />
            나이키 브랜드에서 신발이라는 카테고리만 선정해서 <br />
            Nike-Shoes 라는 서브 페이지로 리뉴얼 브랜딩 해보았습니다. <br />
          </p>
        </div>
        <div class="img-wrapper">
          <div class="border-box-right"></div>
          <img src="{% static 'product/img/wallpaper.png' %}" alt="aboutimg" />
        </div>
      </div>
    </section>
    <!-- shoes -->
    <section class="fade-in" data-fade-in-speed="800">
      <div class="section-content-box">
        <div class="img-wrapper">
          <div class="border-box-left" style="background-color: brown;"></div>
          <img
            src="https://images.unsplash.com/photo-1521093470119-a3acdc43374a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
            alt="aboutimg"
          />
        </div>
        <div class="comment-box">
          <span class="main-title" style="border-bottom: 2px solid brown;"
            >ABOUT OUR PROJECT</span
          >
          <p>
            이 프로젝트는 캠퍼스 픽에서 자체적으로 진행한 장고 스터디의
            프로젝트이며<br />
            <br />
            백엔드 개발 3명 : 김초혜, 변형욱, 이소연<br />
            프론트 개발 1명 : 김민수<br />
            위와 같이 4명이 참가한 프로젝트입니다. <br />
            <br />
            한 달이라는 짧은 시간안에 최대한의 완성도를 뽑아 내고자 <br />
            나이키 브랜드에서 신발이라는 카테고리만 선정해서 <br />
            Nike-Shoes 라는 서브 페이지로 리뉴얼 브랜딩 해보았습니다. <br />
          </p>
        </div>
      </div>
    </section>
    <!-- skils -->
    <section class="fade-in" data-fade-in-speed="800">
      <div class="section-content-box">
        <div class="comment-box">
          <span class="main-title" style="border-bottom: 2px solid rgb(8,46,32);">ABOUT OUR PROJECT</span>
          <p>
            이 프로젝트는 캠퍼스 픽에서 자체적으로 진행한 장고 스터디의
            프로젝트이며<br />
            <br />
            백엔드 개발 3명 : 김초혜, 변형욱, 이소연<br />
            프론트 개발 1명 : 김민수<br />
            위와 같이 4명이 참가한 프로젝트입니다. <br />
            <br />
            한 달이라는 짧은 시간안에 최대한의 완성도를 뽑아 내고자 <br />
            나이키 브랜드에서 신발이라는 카테고리만 선정해서 <br />
            Nike-Shoes 라는 서브 페이지로 리뉴얼 브랜딩 해보았습니다. <br />
          </p>
        </div>
        <div class="img-wrapper">
          <div class="border-box-right" style="background-color: rgb(8, 46, 32);"></div>
          <img src="{% static 'product/img/about-logo.png' %}" alt="aboutimg" />
        </div>
      </div>
    </section>

    <!-- front -->
    <section class="fade-in" data-fade-in-speed="800">
      <div class="section-content-box">
        <div class="img-wrapper">
          <div
            class="border-box-left"
            style="background-color: rgb(25,53,86);"
          ></div>
          <img
            src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="aboutimg"
          />
        </div>
        <div class="comment-box">
          <span
            class="main-title"
            style="border-bottom:  2px solid rgb(25,53,86);"
            >ABOUT OUR PROJECT</span
          >
          <p>
            이 프로젝트는 캠퍼스 픽에서 자체적으로 진행한 장고 스터디의
            프로젝트이며<br />
            <br />
            백엔드 개발 3명 : 김초혜, 변형욱, 이소연<br />
            프론트 개발 1명 : 김민수<br />
            위와 같이 4명이 참가한 프로젝트입니다. <br />
            <br />
            한 달이라는 짧은 시간안에 최대한의 완성도를 뽑아 내고자 <br />
            나이키 브랜드에서 신발이라는 카테고리만 선정해서 <br />
            Nike-Shoes 라는 서브 페이지로 리뉴얼 브랜딩 해보았습니다. <br />
          </p>
        </div>
      </div>
    </section>
    <!-- back -->
    <section class="fade-in" data-fade-in-speed="800">
      <div class="section-content-box">
        <div class="comment-box">
          <span
            class="main-title"
            style="border-bottom: 2px solid rgb(25,16,16);"
            >ABOUT OUR PROJECT</span
          >
          <p>
            이 프로젝트는 캠퍼스 픽에서 자체적으로 진행한 장고 스터디의
            프로젝트이며<br />
            <br />
            백엔드 개발 3명 : 김초혜, 변형욱, 이소연<br />
            프론트 개발 1명 : 김민수<br />
            위와 같이 4명이 참가한 프로젝트입니다. <br />
            <br />
            한 달이라는 짧은 시간안에 최대한의 완성도를 뽑아 내고자 <br />
            나이키 브랜드에서 신발이라는 카테고리만 선정해서 <br />
            Nike-Shoes 라는 서브 페이지로 리뉴얼 브랜딩 해보았습니다. <br />
          </p>
        </div>
        <div class="img-wrapper">
          <div
            class="border-box-right"
            style="background-color: rgb(25, 16, 16);"
          ></div>
          <img
            src="https://images.unsplash.com/photo-1568401933942-b02f7899172f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
            alt="aboutimg"
          />
        </div>
      </div>
    </section>
  </body>
</html>
