{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- xeicon -->
    <link
      rel="stylesheet"
      href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <link
      href="{% static 'product/img/favicon 2.ico' %}"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'product/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'product/css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'product/css/aside.css' %}" />
    <link rel="stylesheet" href="{% static 'product/css/content.css' %}" />
    <link rel="stylesheet" href="{% static 'product/css/footer.css' %}" />
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block link %}
    <!-- 회원가입, 로그인 페이지 js -->
    <!-- 링크 -->
    {% endblock %}
    <!-- 회원가입, 로그인 페이지 js -->
    <title>
      {% block title %}나이키. Just Do It. CloneNike.com{% endblock %}
    </title>
  </head>
  <body>
    <div class="whole-wrapper-login"></div>
    <div class="login-modal">
      <div class="logo"></div>
      <h3 class="login-header big-title">나이키 로그인</h3>
      <span id="close-login"><i class="xi-close"></i></span>
      <form
        method="POST"
        action="{% url 'member:login' %}"
        class="form-box-signIn"
      >
        {% csrf_token %}
        <input
          type="text"
          name="username"
          autocomplete="username"
          maxlength="150"
          required
          placeholder="이름"
          class="sign-in-input"
          id="sign-in-name"
        />
        <input
          type="password"
          name="password"
          autocomplete="current-password"
          required
          placeholder="비밀번호"
          class="sign-in-input"
        />
        <div id="find-membership-wrapper">
          <span id="find-membership-btn">아이디/비밀번호 찾기</span>
        </div>
        <input type="submit" value="로그인" class="sign-in-input" />
        <div class="sign-in-footer">
          <span
            >회원이 아니신가요? <a href="/member/signup">회원가입하기</a></span
          >
        </div>
      </form>
    </div>
    <div class="find-membership-modal">
      <span class="close-find-membership"><i class="xi-close"></i></span>
      <div id="email-verify">
        <h3 class="big-title">아이디 / 비밀번호 찾기</h3>
        <p>계정에 연결된 이메일이나 전화번호를 입력하시면</p>
        <p>아이디 조회와 비밀번호를 재설정 하실 수 있습니다.</p>
        <div class="find-membership-div">
          <input
            type="text"
            placeholder="이메일을 입력해주세요"
            id="input-email"
          />
          <span id="email-alert-msg"></span>
          <input
            type="button"
            value="다음"
            class="btn-rectangle"
            id="submit-email"
          />
          <p>
            <span id="back-to-login"><strong>로그인</strong>으로 돌아가기</span>
          </p>
        </div>
      </div>
      <div id="email-verified">
        <h3 class="big-title">아이디 / 비밀번호 찾기</h3>
        <p>검색하신 계정의 정보들 입니다.</p>
        <p>찾으시는 계정이 있습니까?</p>
        <ul class="find-profile-listWrapper"></ul>
        <span id="back-to-lastStep">이전단계</span>
      </div>
    </div>
    <script>
      // 다음단계 진행하기
      $("#submit-email").click(function () {
        var email = $("#input-email").val();
        var expert = /^[A-Za-z0-9\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        if (email.length === 0) {
          $("#email-alert-msg").text("이메일을 입력해주세요");
        } else if (expert.test(email) == false) {
          $("#email-alert-msg").text("이메일 형식에 맞게 입력해주세요");
        } else {
          $.ajax({
            type: "POST",
            url: "{% url 'member:id-find' %}",
            data: {
              email: email,
              csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (response) {
              // 성공시 다음단계 진행
              $("#email-alert-msg").text("");
              $("#email-verify").css({ display: "none" });
              $("#email-verified").css({ display: "block" });
              console.log(response);
              console.log(response.info.length);
              for (var i = 0; i < response.info.length; i++) {
                var date = response.info[i].date.substring(0, 16);
                var name = response.info[i].name;
                if (name.length === 0) {
                  name = "해당 고객님 성함 정보가 없습니다.";
                }
                $(".find-profile-listWrapper").append(`
                <li class="find-profile-list">
                  <div>
                    <p>
                      <span class="find-profile-userID">아이디 : ${response.info[i].id}</span>
                    </p>
                    <span id="profile-${i}" class="find-profile-confirm">내 계정이 맞습니다.</span>
                  </div>
                  <ul>
                    <li class="find-profile-email" id="profile-email-${i}">${response.info[i].email}</li>
                    <li class="find-profile-name">${name}</li>
                    <li class="find-profile-dateJoined">가입한 일시 : ${date}</li>
                  </ul>
                </li>`);
              }
              // email 발송 해야댐
              $(".find-profile-confirm").click(function () {
                var number = Number($(this).attr("id").split("-")[1]);

                //  이메일
                console.log(response.info[number].email);

                $(".find-profile-listWrapper").remove();
                $("#email-verified p").remove();
                $("#email-verified h3").after(
                  `<p>비밀번호를 재설정하기 위한</p>
                   <p>안내 메일을 발송했습니다.</p>
                   <p>메일로 발송된 링크를 눌러</p>
                   <p>비밀번호를 재설정하세요.</p>
                   `
                );
              });
            },
            error: function (response) {
              console.log("에러", response.status);
              $("#email-alert-msg").text("다시 시도해 주세요.");
            },
          });
        }
      });
    </script>
    {% block modal %}
    <!-- 필요한 모달창 들어올 곳 -->
    {% endblock %}
    <!-- nav -->
    {% block navbar %}
    <input type="checkbox" id="sidebar" />

    <label for="sidebar" id="whole-wrapper"></label>
    <nav>
      <!-- upper-nav -->
      <div class="nav-upper flex-box">
        <ul class="flex-box top-nav">
          <li>
            <a href="/"><span>Nike</span></a>
          </li>
          <li>
            <a href=""><span>Nike Membership</span></a>
          </li>
          <li>
            <a href="https://www.nike.com/kr/ko_kr/l/jordan">
              <div id="jordan-logo">
                <img
                  src="{% static 'product/img/jordan-logo.png' %}"
                  alt="조던로고"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="https://www.converse.co.kr/"><span>converse</span></a>
          </li>
          <li>
            <a href="https://www.nike.com/kr/ko_kr/"
              ><span>진짜 나이키 가기</span></a
            >
          </li>
        </ul>
        <ul class="flex-box" id="nav-guide">
          {% if user.is_authenticated %}
          <li id="user-profile">
            <i class="xi-profile"></i>
            <span>{{ user.username }}</span>
          </li>
          {% else %}
          <li>
            <!-- 로그인 안 했을 경우 -->
            <a href="/member/signup/"><span>회원가입</span></a>
            <span id="open-login">/ 로그인</span>
            {% endif %}
          </li>
          <li>
            <a href="/member/service/"><span>고객센터</span></a>
          </li>
          <li>
            <a href="/cart/">
              <span>
                <i class="xi-cart">
                  {% if request.session.cart_count %}
                  <span id="nav-count-cart"
                    >{{request.session.cart_count}}</span
                  >
                  {% else %} {% endif %}
                </i>
              </span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="xi-maker"></i>
              <span>대한민국</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- lower nav -->
      <div class="nav-lower flex-box">
        <div class="nikeLogo">
          <div class="logo-wrapper">
            <a href="/">
              <img
                src="https://t1.daumcdn.net/cfile/tistory/2425A9455747DAB308"
                alt="나이키 로고"
              />
            </a>
          </div>
        </div>

        <!-- main nav -->
        <ul class="mainNav flex-box">
          <li class="dropdown-box">
            <a href="{% url 'products:list' 1 0 %}"><span>men</span></a>
            <!-- dropdown -->
            <div class="dropdown-wrapper">
              <div class="nav-list-wrapper">
                <ul class="nav-list category">
                  <li><a href="{% url 'products:new' 1 %}">신상품</a></li>
                  <li><a href="{% url 'products:best' 1 %}">THE BEST</a></li>
                  <li><a href="{% url 'products:sale' 1 0 %}">SALE</a></li>
                </ul>
                <ul class="nav-list shoes">
                  <li class="list-title">
                    <a href="{% url 'products:list' 1 0 %}">신발전체</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 1 1 %}">라이프스타일</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 1 2 %}">러닝</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 1 3 %}">농구</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 1 4 %}">축구</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 1 5 %}">샌들 & 슬리퍼</a>
                  </li>
                </ul>
                <ul class="nav-list brands">
                  <li class="list-title"><a href="">브랜드</a></li>
                  <li>
                    <a href="https://www.nike.com/kr/ko_kr/l/jordan">Jordan</a>
                  </li>
                  <li><a href="https://www.converse.co.kr/">converse</a></li>
                  <li><a href="https://www.nike.com/kr/ko_kr/l/acg">ACG</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown-box">
            <a href="{% url 'products:list' 2 0 %}"><span>women</span></a>
            <!-- dropdown -->
            <div class="dropdown-wrapper">
              <div class="nav-list-wrapper">
                <ul class="nav-list category">
                  <li><a href="{% url 'products:new' 2 %}">신상품</a></li>
                  <li><a href="{% url 'products:best' 2 %}">THE BEST</a></li>
                  <li><a href="{% url 'products:sale' 2 0 %}">SALE</a></li>
                </ul>
                <ul class="nav-list shoes">
                  <li class="list-title">
                    <a href="{% url 'products:list' 2 0 %}">신발전체</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 2 1 %}">라이프스타일</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 2 2 %}">러닝</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 2 3 %}">골프</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 2 4 %}">축구</a>
                  </li>
                  <li>
                    <a href="{% url 'products:list' 2 5 %}">샌들 & 슬리퍼</a>
                  </li>
                </ul>
                <ul class="nav-list brands">
                  <li class="list-title"><a href="">브랜드</a></li>
                  <li>
                    <a href="https://www.nike.com/kr/ko_kr/l/jordan">Jordan</a>
                  </li>
                  <li><a href="https://www.converse.co.kr/">converse</a></li>
                  <li><a href="https://www.nike.com/kr/ko_kr/l/acg">ACG</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown-box">
            <a href="/product/"><span>kids</span></a>
            <!-- dropdown -->
            <div class="dropdown-wrapper">
              <div class="nav-list-wrapper">
                <ul class="nav-list category">
                  <li><a href="{% url 'products:new' 1 %}">신상품</a></li>
                  <li><a href="{% url 'products:best' 1 %}">THE BEST</a></li>
                  <li><a href="{% url 'products:sale' 1 0 %}">SALE</a></li>
                </ul>
                <ul class="nav-list shoes">
                  <li class="list-title"><a href="">신발전체</a></li>
                </ul>
                <ul class="nav-list brands">
                  <li class="list-title"><a href="">브랜드</a></li>
                  <li>
                    <a href="https://www.nike.com/kr/ko_kr/l/jordan">Jordan</a>
                  </li>
                  <li><a href="https://www.converse.co.kr/">converse</a></li>
                  <li><a href="https://www.nike.com/kr/ko_kr/l/acg">ACG</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <!-- 검색창 -->
        <div class="desktop-only">
          <i class="xi-search" id="nonhide-search-icon"></i>
          <input type="text" placeholder="검색" class="search" />
        </div>

        <!-- only mobile screen -->
        <div id="nav-mobile" class="flex-box">
          <div class="icon-wrapper" id="search-icon">
            <i class="xi-search"></i>
          </div>
          <a href="/cart/"
            ><div class="icon-wrapper"><i class="xi-cart"></i></div
          ></a>
          <div class="icon-wrapper" id="hamburger">
            <label for="sidebar"><i class="xi-bars"></i></label>
          </div>
          <div class="hide-search">
            <div class="hide-input-wrapper">
              <i class="xi-search" id="hide-search-icon"></i>
              <input type="text" placeholder="검색" id="hide-search-input" />
            </div>
          </div>
        </div>
      </div>
      <div id="hide-search-modal"></div>
      <div id="user-profile-drop">
        <a href="/member/profile/"><span>마이페이지</span></a>
        <a href="/member/profile-update/"><span>회원정보관리</span></a>
        <a href="/member/logout/"><span>로그아웃</span></a>
      </div>
    </nav>
    <div id="hide-sidebar">
      <ul id="sidebar-inner-box">
        {% if user.is_authenticated %}
        <li>
          <a href="/member/logout/"><span>로그아웃</span></a>
        </li>
        {% else %}
        <!-- 로그인 안 했을 경우 -->
        <li>
          <a href="/member/signup/"><span>회원가입</span></a>
          <a href="/member/login/"><span>/ 로그인</span></a>
        </li>
        {% endif %}
        <li>
          <input type="checkbox" class="nav-ham-check" id="nav-ham-men" />
          <label for="nav-ham-men" class="label-ham"><p>Men</p></label>
          <div class="ham-dropdown">
            <a href="{% url 'products:list' 1 0 %}"><p>전체보기</p></a>
            <a href="{% url 'products:new' 1  %}"><p>New Releasses</p></a>
            <a href="{% url 'products:best' 1  %}"><p>BEST</p></a>
            <a href="{% url 'products:sale' 1  0%}"><p>SALE</p></a>
          </div>
        </li>
        <li>
          <input type="checkbox" class="nav-ham-check" id="nav-ham-women" />
          <label for="nav-ham-women" class="label-ham"><p>Women</p></label>
          <div class="ham-dropdown">
            <a href="{% url 'products:list' 2 0 %}"><p>전체보기</p></a>
            <a href="{% url 'products:new' 2 %}"><p>New Releasses</p></a>
            <a href="{% url 'products:best' 2  %}"><p>BEST</p></a>
            <a href="{% url 'products:sale' 2 0 %}"><p>SALE</p></a>
          </div>
        </li>
        <li>
          <a href=""><span>Kids</span></a>
        </li>
        <li>
          <a href="/member/service/"><span>고객센터</span></a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <input type="checkbox" class="nav-ham-check" id="nav-ham-mypage" />
          <label for="nav-ham-mypage" class="label-ham"><p>마이페이지</p></label>
          <div class="ham-dropdown">
            <a href="/member/profile/"><p>MY PAGE</p></a>
            <a href="/member/profile-rate"><p>회원등급 현황</p></a>
            <a href="/member/order/"><p>주문 배송</p></a>
            <a href="/member/service/"><p>취소 / 반품</p></a>
            <a href="/order/shipping-show"><p>배송지 관리</p></a>
            <a href="/member/profile-update"><p>회원정보 관리</p></a>
        <a href="/member/profile-password"><p>비밀번호</p></a>
        <a href="/member/profile-delete"><p>회원탈퇴</p></a>
          </div>
        </li>
        {% else %} {% endif %}
      </ul>
    </div>
    <!-- nav js -->
    <script src="{% static 'product/js/nav.js' %}"></script>
    <script src="{% static 'product/js/profile-dropdown.js' %}"></script>

    {% endblock %}

    <!-- aside -->
    {% block aside %} {% endblock %}

    <!-- main content -->
    {% block content %} {% endblock %}

    <!-- footer -->
    {% block footer %}
    <footer>
      <div class="footer-header">
        <ul class="col col1">
          <li class="list-title">
            <a href="https://www.nike.com/kr/ko_kr/store?ignoreSharing=true"
              ><span>매장안내</span></a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="list-title">
            <a href="/member/logout/"><span>로그아웃</span></a>
          </li>
          {% else %}
          <!-- 로그인 안 했을 경우 -->
          <li class="list-title">
            <a href="/member/signup/"><span>회원가입</span></a>
            <a href="/member/login/"><span>/ 로그인</span></a>
          </li>
          {% endif %}
        </ul>
        <ul class="col col2">
          <li class="list-title"><span>고객센터</span></li>
          <li>
            <a href="/member/service"><span>주문취소</span></a>
          </li>
          <li>
            <a href="{% url 'member:order' %}"><span>주문배송조회</span></a>
          </li>
          <li>
            <a href="/member/profile-rate"><span>멤버쉽 혜택/서비스</span></a>
          </li>
          <li>
            <a href="/member/service"><span>기타문의</span></a>
          </li>
        </ul>
        <ul class="col col3">
          <li class="list-title"><span>ABOUT NIKE</span></li>
          <li>
            <a href="/product/about"><span>나이키에 대하여</span></a>
          </li>
        </ul>
        <ul class="col col4">
          <li class="list-title"><span>SOCIAL</span></li>
          <a href="https://github.com/Minsoo-web"><li class="footer-sns-list"><i class="xi-github"></i><span>GitHub</span></li></a>
          <a href="https://www.instagram.com/minsoo_gramm/"><li class="footer-sns-list"><i class="xi-instagram"></i><span>Instagram</span></li></a>
          <a href="https://www.youtube.com/watch?v=mOk4ghoRtDo"><li class="footer-sns-list"><i class="xi-youtube"></i><span>Youtube</span></li></a>
          <a href="https://open.kakao.com/me/minsooweb"><li class="footer-sns-list"><i class="xi-kakaotalk"></i><span>Kakaotalk</span></li></a>
        </ul>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
