{% extends "product/base.html" %}

<!-- title 확장 -->
{% block title %} 나이키 {% endblock %}

<!-- content 확장 -->
{% block content %}
<section id="best" class="cover">
  <!-- 왼쪽이 큰 버전 -->
  <div class="best-category-gallery">
    <div class="best-category-header">
      <h2 class="main-title">BEST 라이프스타일</h2>
      <!-- 해당 카테고리로 연결하시면 됩니다. -->
      <a href="{% url 'products:list' 1 1 %}">신발 전체 보기</a>
    </div>
    <div class="best-img-box">
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4373-002/2ef42163-3696-481c-86a5-8c2b57176370_primary.jpg"
          alt="나이키리액트비전"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD0881-103/2686da97-97e8-4b30-a647-38198170fad6_5.jpg"
          alt="나이키에어맥스"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4962-001/422a4e3b-5466-466c-9b57-f00e029cbe30_primary.jpg"
          alt="나이키조던농구"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4371-600/d5c61e2a-b66d-4236-b759-d55af54f6fdd_first.jpg"
          alt="나이키리액트인피니티런"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4371-600/d5c61e2a-b66d-4236-b759-d55af54f6fdd_first.jpg"
          alt="나이키리액트인피니티런"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 오른쪽이 큰 버전-->
  <div class="best-category-gallery">
    <div class="best-category-header">
      <h2 class="main-title">BEST 라이프스타일</h2>
      <!-- 해당 카테고리로 연결하시면 됩니다. -->
      <a href="{% url 'products:list' 1 1 %}">신발 전체 보기</a>
    </div>
    <div class="best-img-box-right">
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4373-002/2ef42163-3696-481c-86a5-8c2b57176370_primary.jpg"
          alt="나이키리액트비전"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD0881-103/2686da97-97e8-4b30-a647-38198170fad6_5.jpg"
          alt="나이키에어맥스"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4962-001/422a4e3b-5466-466c-9b57-f00e029cbe30_primary.jpg"
          alt="나이키조던농구"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4371-600/d5c61e2a-b66d-4236-b759-d55af54f6fdd_first.jpg"
          alt="나이키리액트인피니티런"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      <div class="best-img-wrapper">
        <img
          src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4371-600/d5c61e2a-b66d-4236-b759-d55af54f6fdd_first.jpg"
          alt="나이키리액트인피니티런"
        />
        <div class="best-hover-box">
          <h3 class="title">나이키에어포스</h3>
          <h3 class="title">149,000원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
