{% extends "product/base.html" %} {% load humanize %}

<!-- title 확장 -->
{% block title %} 나이키 {% endblock %}

<!-- content 확장 -->
{% block content %}
<section id="best" class="cover">
  <!-- 왼쪽이 큰 버전 -->
  <div class="best-category-gallery">
    <div class="best-category-header">
      <h2 class="main-title">BEST 라이프스타일</h2>
      <!-- 해당 카테고리로 연결하시면 됩니다. -->
      <a href="{% url 'products:list' gender 1 %}">신발 전체 보기</a>
    </div>
    <div class="best-img-box">
      {% for product in life_product_list %}
      <div class="best-img-wrapper">
        <img
          src="{{product.thumbnail.url}}"
          alt="나이키리액트비전"
        />
        <div class="best-hover-box">
          <h3 class="title">{{product.name}}</h3>
          <h3 class="title">{{product.price|intcomma}}원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- 오른쪽이 큰 버전-->
  <div class="best-category-gallery">
    <div class="best-category-header">
      <h2 class="main-title">BEST 러닝</h2>
      <!-- 해당 카테고리로 연결하시면 됩니다. -->
      <a href="{% url 'products:list' gender 2 %}">신발 전체 보기</a>
    </div>
    <div class="best-img-box-right">
      {% for product in run_product_list %}
      <div class="best-img-wrapper">
        <img
          src="{{product.thumbnail.url}}"
          alt="나이키리액트비전"
        />
        <div class="best-hover-box">
          <h3 class="title">{{product.name}}</h3>
          <h3 class="title">{{product.price|intcomma}}원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="best-category-gallery">
    <div class="best-category-header">
      <h2 class="main-title">BEST 농구</h2>
      <!-- 해당 카테고리로 연결하시면 됩니다. -->
      <a href="{% url 'products:list' gender 3 %}">신발 전체 보기</a>
    </div>
    <div class="best-img-box">
      {% for product in bask_product_list %}
      <div class="best-img-wrapper">
        <img
          src="{{product.thumbnail.url}}"
          alt="나이키리액트비전"
        />
        <div class="best-hover-box">
          <h3 class="title">{{product.name}}</h3>
          <h3 class="title">{{product.price|intcomma}}원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="best-category-gallery">
    <div class="best-category-header">
      <h2 class="main-title">BEST 축구</h2>
      <!-- 해당 카테고리로 연결하시면 됩니다. -->
      <a href="{% url 'products:list' gender 4 %}">신발 전체 보기</a>
    </div>
    <div class="best-img-box-right">
      {% for product in soc_product_list %}
      <div class="best-img-wrapper">
        <img
          src="{{product.thumbnail.url}}"
          alt="나이키리액트비전"
        />
        <div class="best-hover-box">
          <h3 class="title">{{product.name}}</h3>
          <h3 class="title">{{product.price|intcomma}}원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="best-category-gallery">
    <div class="best-category-header">
      <h2 class="main-title">BEST 샌들&슬리퍼</h2>
      <!-- 해당 카테고리로 연결하시면 됩니다. -->
      <a href="{% url 'products:list' gender 5 %}">신발 전체 보기</a>
    </div>
    <div class="best-img-box">
      {% for product in flip_product_list %}
      <div class="best-img-wrapper">
        <img
          src="{{product.thumbnail.url}}"
          alt="나이키리액트비전"
        />
        <div class="best-hover-box">
          <h3 class="title">{{product.name}}</h3>
          <h3 class="title">{{product.price|intcomma}}원</h3>
          <a href="">구매하기</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
