{% extends "product/base.html" %}

<!-- title -->
{% block title %} 장바구니-나이키 {% endblock %}

<!-- content -->
{% block content %}
<section id="cart" class="cover">
  <div class="cart-header">
    <h1>장바구니</h1>
    <span></span><span>개 상품</span>
  </div>
  <div id="no-items">
    <i class="xi-cart"></i>
    <h2>장바구니에 담긴 상품이 없습니다.</h2>
    <a href="/"><span>계속 쇼핑하기</span></a>
  </div>
  <div class="cart-list-delete">
    <a href=""><span>전체삭제</span></a>
  </div>
  <div class="cart-contents">
    <ul class="cart-list-wrapper">
      <li>
        <div class="cart-itemimg-wrapper">
          <img
            src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4373-100/a00136d2-e708-439f-b175-beecf51e5009_primary.jpg?option"
            alt="아이템1"
          />
        </div>
        <div class="cart-item-detail">
          <ul>
            <li>나이키 리액트 비전</li>
            <li>스타일 : CD4373-100</li>
            <li>사이즈 : 260</li>
            <li>수량 : 1</li>
          </ul>
        </div>
        <div class="cart-item-option">
          <a href=""><span>옵션 변경</span></a>
        </div>
        <div class="cart-item-price">
          <span>149,000원</span>
        </div>
        <div class="cart-item-delete">
          <i class="xi-close"></i>
        </div>
      </li>
      <li>
        <div class="cart-itemimg-wrapper">
          <img
            src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/product/CD4373-100/a00136d2-e708-439f-b175-beecf51e5009_primary.jpg?option"
            alt="아이템1"
          />
        </div>
        <div class="cart-item-detail">
          <ul>
            <li>나이키 리액트 비전</li>
            <li>스타일 : CD4373-100</li>
            <li>사이즈 : 260</li>
            <li>수량 : 1</li>
          </ul>
        </div>
        <div>
          <a href=""><span>옵션 변경</span></a>
        </div>
      </li>
    </ul>

    <div class="cart-order-box">
      <div class="cart-order-header">
        <strong class="title">주문예정금액</strong>
      </div>

      <ul class="cart-order-info">
        <li class="order-info-list">
          <span>상품 금액</span><span>178,000원</span>
        </li>
        <li class="order-info-list">
          <span>예상 배송비</span><span>0원</span>
        </li>
        <li class="order-info-list">
          <span>상품 할인 금액</span><span>0원</span>
        </li>
        <li class="order-info-list">
          <span>주문 할인 금액</span><span>0원</span>
        </li>
        <li class="order-info-list">
          <span>총 결제 예정 금액</span><span>178,000원</span>
        </li>
        <a href="">주문하기</a>
      </ul>
      
    </div>
  </div>
</section>
{% endblock %}
