{% extends "product/base.html" %} {% load humanize %}

<!-- title -->
{% block title %} 장바구니-나이키 {% endblock %}

<!-- content -->
{% block content %}
<section id="cart" class="cover">
  <div class="cart-header">
    <h1>장바구니</h1>
    <span>{{ total_quantity }}</span><span>개 상품</span>
  </div>
  {% if total_quantity == 0 %}
  <div id="no-items">
    <i class="xi-cart"></i>
    <h2>장바구니에 담긴 상품이 없습니다.</h2>
    <a href="/"><span>계속 쇼핑하기</span></a>
  </div>
  {% else %}
  <div class="cart-list-delete">
    <a href="" onclick="delete_all({{user.id}})"><span>전체삭제</span></a>
  </div>
  <div class="cart-contents">
    <ul class="cart-list-wrapper">
      {% for c in cart %}
      <li>
        <div class="cart-itemimg-wrapper">
          <img
            src="{{ c.inventory_id.product_id.thumbnail.url }}"
            alt="아이템1"
          />
        </div>
        <div class="cart-item-detail">
          <ul>
            <li>{{ c.inventory_id.product_id.name }}</li>
            <li>스타일 : {{ c.inventory_id.product_id.style }}</li>
            <li>사이즈 : {{ c.inventory_id.size }}</li>
            <li>수량 : {{ c.quantity }}</li>
          </ul>
        </div>
        <div class="cart-item-option">
          <a href=""><span>옵션 변경</span></a>
        </div>
        <div class="color-orange">
          <span>{{ c.inventory_id.product_id.price|intcomma }}</span>
        </div>
        <div class="cart-item-delete">
          <i class="xi-close" onclick="delete_one({{ c.id }})"></i>
        </div>
      </li>
      {% endfor %}
    </ul>

    <div class="cart-order-box">
      <div class="cart-order-header">
        <strong class="title">주문예정금액</strong>
      </div>

      <ul class="cart-order-info">
        <li class="order-info-list">
          <span>상품 금액</span><span>{{amount|intcomma}}원</span>
        </li>
        <li class="order-info-list">
          <span>예상 배송비</span><span>0원</span>
        </li>
        <li class="order-info-list">
          <span>상품 할인 금액</span><span>0원</span>
        </li>
        <li class="order-info-list">
          <span>주문 할인 금액</span><span>0원</span>
        </li>
        <li class="order-info-list">
          <span>총 결제 예정 금액</span><span>{{total_price|intcomma}}원</span>
        </li>
        <a href="#" onclick="order()">주문하기</a>
      </ul>
    </div>
  </div>
  {% endif %}
</section>

<script>
  function delete_one(id) {
    $.ajax({
      type: "POST",
      url: "{% url 'products:cart-delete-one' %}",
      data: {'cart-id': id, csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function(response) {
        var answer = response.result;
        if (answer == 'success') {
          alert("삭제되었습니다");
          window.location.href = "{% url 'products:cart' %}";
        }
        else if (answer == 'no user') {
          alert("로그인하세요!");
        }
        else if (answer == 'no action') {
          window.location.href = "{% url 'products:cart' %}";
        }
      }
    });
  }

  function delete_all(user_id) {
    $.ajax({
      type: "POST",
      url: "{% url 'products:cart-delete-all' %}",
      data: {'user-id': user_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function(response) {
        var answer = response.result;
        if (answer == 'success') {
          alert("삭제되었습니다");
          window.location.href = "{% url 'products:cart' %}";
        }
        else if (answer == 'no user') {
          alert("로그인하세요!");
        }
        else if (answer == 'no action') {
          window.location.href = "{% url 'products:cart' %}";
        }
      }
    });
  }

  function order() {
    var order_list = [];
    {% for c in cart %}
    order_list.push({ 'inventory-id': {{ c.inventory_id.id }}, quantity: {{ c.quantity }} });
    {% endfor %}
    var order_list_str = JSON.stringify(order_list);
    var total_price = {{ total_price }};
    $.ajax({
      type: "POST",
      url: "{% url 'order:to-checkout1' %}",
      data: {'order-list': order_list_str,
             'total-price': total_price,
              csrfmiddlewaretoken: '{{ csrf_token }}'},
      dataType:'json',
      success: function(response) {
        var answer = response.result;
        if (answer == 'success') {
          window.location.href = "{% url 'order:checkout1' %}";
        }
      }
    });
  }
</script>
{% endblock %}
