{% extends "product/base.html" %}
{% load humanize %}

<!-- content -->
{% block content %}
<section id="detail" class="cover">
  <div class="detail-header">
    <!-- left img view -->
    <div class="detail-img-gallery">
      <div class="detail-img-wrapper">
        <a href=""><img src="{{ product.thumbnail.url }}" alt="이미지 상세 보기"/></a>
      </div>
      {% for p in product_image %}
      <div class="detail-img-wrapper">
        <a href=""><img src="{{ p.image.url }}" alt="이미지 상세 보기"/></a>
      </div>
      {% endfor %}
    </div>
    <!-- right 상세 설정 -->
    <div class="detail-selection">
      <div class="detail-product-info">
        <div class="detail-item-tilte">
          <div class="detail-title-header">
            <span>{{ category.name }}</span>
            <span class="big-title">{{ product.price|intcomma }}</span>
          </div>
          <h2 class="big-title">{{ product.name }}</h2>
        </div>
        <!-- size select -->
        <div class="order-box">
          <div class="size-wrapper">
            <h3>사이즈 선택</h3>
            {% for i in inventory %}
            <span>
              <label for="{{ i.pk }}">{{ i.size }}</label>
              <input type="radio" name="inventory" id="{{ i.pk }}" value="{{ i.pk }}" />
            </span>
            {% endfor %}
            <div class="detail-num">
              <span id="numOfItems"><input type="text" name="quantity" value="1" /></span>
              <button id="increaseNum">+</button>
              <button id="decreaseNum">-</button>
            </div>
          </div>
          <div id="order-wrapper">
            <a href="" class="round-btn-big">바로구매</a>
            <a href="" class="round-btn-big white" id="cart-btn">장바구니 담기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main detail-view -->
  <div class="detail-view">
    <div class="detail-view-wrap">
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200207_nsw_epdp_volt_bg-1.jpg"
        alt=""
      />
      <iframe
        src="https://players.brightcove.net/72451143001/Hk7rH5kvb_default/index.html?videoId=6120496352001"
        allowfullscreenallow="encrypted-media"
        width="960"
        height="745"
      ></iframe>
    </div>
  </div>
</section>

<script>
    $(document).ready(function() {
        $("#cart-btn").on('click', function() {
            var inventory_id = $('input[name="inventory"]:checked').val();
            var quantity = $('input[name="quantity"]').val();

            if(inventory_id == null) {
              alert("사이즈를 선택해주세요");
              return;
            }

            $.ajax({
                type: "POST",
                url: "{% url 'products:add-cart' %}",
                data: {inventory: inventory_id,
                    quantity: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(response) {
                    var answer = response.result;
                    if (answer == 'success') alert("장바구니에 담겼습니다");
                    else if (answer == 'no user') alert("로그인하세요!");
                }
            });
        });
    });
</script>
{% endblock %}
