{% extends "product/base.html" %} {% load humanize %}

<!-- 템플릿 확장 -->
{% load static %}
<!-- js -->
{% block link %}
<script src="{% static 'product/js/detail.js' %}"></script>
{% endblock %}

<!-- content -->
{% block content %}
<section id="detail" class="cover">
  <div class="detail-header">
    <!-- left img view -->
    <div class="detail-img-gallery">
      <div class="detail-img-wrapper">
        <a href=""
          ><img src="{{ product.thumbnail.url }}" alt="이미지 상세 보기"
        /></a>
      </div>
      {% for p in product_image %}
      <div class="detail-img-wrapper">
        <a href=""><img src="{{ p.image.url }}" alt="이미지 상세 보기"/></a>
      </div>
      {% endfor %}
    </div>
    <!-- right 상세 설정 -->
    <div class="detail-selection">
      <div class="detail-product-info">
        <div class="detail-item-tilte">
          <div class="detail-title-header">
            <span>{{ category.name }}</span>
            <span>{{ product.price|intcomma }}원</span>
          </div>
          <h2 class="big-title">{{ product.name }}</h2>
        </div>
        <!-- size select -->
        <div class="order-box">
          <div class="size-wrapper">
            <h3>사이즈 선택</h3>
            <div class="size-selector">
              {% for i in inventory %} {% if i.amount %}
              <input
                type="radio"
                name="inventory"
                id="{{ i.pk }}"
                value="{{ i.pk }}"
              />
              <label for="{{ i.pk }}">{{ i.size }}</label>
              <span id="size-{{i.pk}}">{{i.amount}}</span>
              {% else %}
              <label class="no-amount" for="{{ i.pk }}">{{ i.size }}</label>
              {% endif %} {% endfor %}
            </div>
            <div class="detail-num-wrapper">
              <div class="detail-num">
                <span>수량</span>
                <span id="numOfItems"></span>
                <button id="decreaseNum"><i class="xi-minus"></i></button>
                <button id="increaseNum"><i class="xi-plus"></i></button>
              </div>
              <span class="color-orange" id="size-alert"></span>
            </div>
          </div>
          <div id="order-wrapper">
            <a href="" class="round-btn-big">바로구매</a>
            <span class="round-btn-big white" id="cart-btn">장바구니 담기</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal-cover">
  <div class="mini-cart">
    <div class="mini-cart-card">
      <div class="mini-cart-header">
        <h3>미니 장바구니</h3>
      </div>
      <div class="mini-image-wrapper">
        <img src="{{ product.thumbnail.url }}" alt="미니썸네일" />
      </div>
      <div class="mini-cart-detail">
        <ul class="mini-cart-wrapper">
          <li>{{ product.name }}</li>
          <li><span>스타일 : {{ product.style }}</span></li>
          <li>
            <span>사이즈 : </span>
            <span id="selected_size"></span>
          </li>
          <li>
            <span>수량 : </span>
            <span id="selected_quantity"></span>
          </li>
          <li>
            <span class="color-orange">{{ product.price|intcomma }} 원</span>
          </li>
        </ul>
        <div class="mini-cart-link">
          <a href="/cart/" class="btn-rectangle"><span>장바구니 가기</span></a>
          <a href="" class="btn-rectangle"><span>바로구매</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#cart-btn").on("click", function() {
      var inventory_id = $('input[name="inventory"]:checked').val();
      // 사이즈 가져오기 위한 코드
      var size = $(`label[for=${inventory_id}]`).text();
      var quantity = $("#numOfItems").text();

      if (inventory_id == null) {
        alert("사이즈를 선택해주세요");
        return;
      }

      $.ajax({
        type: "POST",
        url: "{% url 'products:add-cart' %}",
        data: {
          inventory: inventory_id,
          quantity: quantity,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(response) {
          var answer = response.result;
          if (answer == "success") {
            $(".modal-cover").addClass("on-modal");
            $("#selected_size").text(size);
            $("#selected_quantity").text(quantity);
            $("body").css({ overflow: "hidden" });
          } else if (answer == "no user") alert("로그인하세요!");
        }
      });
    });
    // 검정화면 클릭시 모달 끄기
    $(".modal-cover").on("click", function() {
      $(this).removeClass("on-modal");
      $("body").css({ overflow: "auto" });
    });
  });
</script>
{% endblock %}
