{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block title %}
    <title>Error !</title>
    {% endblock %}
    <link
      href="{% static 'product/img/favicon.ico' %}"
      rel="icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'product/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'product/css/error.css' %}" />
  </head>
  <body>
    <div id="error-box">
      <div class="logo"></div>
      {% block content %}
      <p class="error-title">서비스 이용에 불편을 드려서 죄송합니다.</p>
      <div class="error-content">
        <p>(404-NOT FOUND)</p>
        <p>현재 서비스에 일시적인 오류가 발생했습니다.</p>
        <p>
          이용에 불편을 드린 점 진심으로 사과 드리며, 고객 여러분의 양해 부탁
          드립니다.
        </p>
      </div>
      {% endblock %}
      <footer>
        <span
          >관련문의사항은 저희 GitHub Repository에 관련 Issues를 남겨주시면
          친절히 답변 드리고 수정하겠습니다.
        </span>
        <span
          >GitHub Repository :
          <a href="https://github.com/chohae0319/django_nike"
            >Nike Shoes Clone Page</a
          ></span
        >
        <a href="/"><span class="home">홈페이지</span></a>
      </footer>
    </div>
  </body>
</html>
