{% extends "product/base.html" %} {% load humanize %}

<!-- 링크확장 -->
{% load static %}
<!-- 링크확장 -->
{% block link %}
<link rel="stylesheet" href="{% static 'product/css/index.css' %}" />
{% endblock %}

<!-- content -->
{% block content %}
<section class="cover" id="index">
  <figure class="main-card">
    <picture>
      <source
        srcset="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200302_nsw_p1_bg.jpg"
        media="(min-width:641px)"
      />
      <source
        srcset="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/m200302_nsw_p1_bg.jpg"
        media="(max-width:640px)"
      />
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200302_nsw_p1_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">에어맥스 베로나</h1>
        <p>
          틀에 얽매이지 않고 미래를 개척하는 여성들로부터 영감을 얻어 탄생한
          나이키 에어맥스 베로나.<br />
          새롭게 출시된 에어맥스 베로나 제품과 미래의 새로운 가능성에 대해
          이야기하는 설현의 스토리를 만나보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a
          class="round-btn"
          href="https://www.nike.com/kr/ko_kr/c/nsw/am-verona-seolhyun"
          ><span>설현 스토리 보기</span></a
        >
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200227_hp_p1_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">나이키 크루저원</h1>
        <p>
          천천히 달리는 러너들을 위해 팅커 햇필드가 디자인한 나이키 크루저원을
          만나보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200227_hp_p2_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">나이키 에어맥스 버블팩</h1>
        <p>
          버블 텍스처에 시선을 사로잡는 컬러웨이로 빛나는 스타일을 연출해보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200213_hp_p8_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">나이키 리액트 비전</h1>
        <p>
          꿈을 꾸는 듯 편안하고 부드러운 나이키 리액트 비전과 함께 특별한
          레이어드 룩을 완성해보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200222_wlp_p1_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">홈트레이닝 컬렉션</h1>
        <p>
          다양한 홈트레이닝에 최적화된 컬렉션을 만나보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200218_fb_slp_p1_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">머큐리얼 드림 스피드 2</h1>
        <p>
          섬광같은 스피드로 새롭게 출시된 머큐리얼 드림 스피드 2와 함께 꿈을
          향해 거침없이 달려가보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <video
      autoplay="autoplay"
      loop="loop"
      muted="muted"
      webkit-playsinline="webkit-playsinline"
      playsinline="playsinline"
    >
      <source
        src="https://nikevideo.nike.com/72451143001/202001/1656/72451143001_6120882140001_6120882625001.mp4"
      />
    </video>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">스우시 컬렉션</h1>
        <p>
          특별한 포인트를 더한 스우시 컬렉션을 만나보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200203_hp_p4_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">나이키 에어 컬렉션</h1>
        <p>
          감각적인 컬러 블로킹 스타일에 편안함을 더한 나이키 에어 컬렉션을
          만나보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <div class="slider">
    {% for product in product_list %}
    <div class="card">
      <!-- product img -->
      <div class="img-wrapper">
        <a href="{% url 'products:detail' product.pk %}">
          <img src="{{product.thumbnail.url}}" alt="상품이미지" />
        </a>
      </div>
      <div class="product-info">
        <!-- item-title-->
        <div class="item-title">{{product.name}}</div>
        <!-- sub-title -->
        <div class="item-subtitle color-8D">{{product.style}}</div>
        <!-- item-color 는 안 하기로 결정-->
        <!-- price -->
        <div>{{product.price|intcomma}}원</div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
