{% extends "product/base.html" %}

<!-- content -->
{% block content %}
<section class="cover" id="index">
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200207_kids_p1_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">나이키와 함께 새 학기를 준비해보세요</h1>
        <p>
          2020.2.10(월)~2.23(일)
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>제품보기</span></a>
        <a class="round-btn" href="/wishlist/"><span>장바구니</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <video
      autoplay="autoplay"
      loop="loop"
      muted="muted"
      webkit-playsinline="webkit-playsinline"
      playsinline="playsinline"
    >
      <source
        src="https://nikevideo.nike.com/72451143001/202001/1249/72451143001_6128555417001_6128553778001.mp4"
      />
    </video>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">나이키 마라톤 컬렉션</h1>
        <p>
          2020년 다양한 마라톤 레이스를 나이키와 함께 준비해보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>컬렉션 구매하기</span></a>
      </div>
    </figurecaption>
  </figure>
  <figure class="main-card">
    <picture>
      <img
        src="https://static-breeze.nike.co.kr/kr/ko_kr/cmsstatic/structured-content/2357/200129_rn_p1_bg.jpg"
        alt="cover"
      />
    </picture>
    <figurecaption class="card-comment-box">
      <div class="card-comment-header">
        <h1 class="main-title">나이키 리액트 인피니티 런</h1>
        <p>
          부상 없는 러닝을 위해 새롭게 출시된 리액트 인피니티 런. 러너들이
          증명한 혁신적인 기능성과 함께 제품 리뷰 혜택도 만나보세요.
        </p>
      </div>
      <div class="card-link-wrapper">
        <a class="round-btn" href="/product/"><span>구매하기</span></a>
        <a class="round-btn" href="/wishlist/"><span>자세히 보기</span></a>
      </div>
    </figurecaption>
  </figure>
</section>
{% endblock %}
{% block nav_content %}
{% for i in numbers %}
<li class="dropdown-box">
  <a href="/product/">
    {%if i == 1 %}
      <span>men</span>
    {% else %}
      <span>women</span>
    {% endif %}
  </a>
  <!-- dropdown -->
  <div class="dropdown-wrapper">
    <div class="nav-list-wrapper">
      <ul class="nav-list category">
        <li><a href="{% url 'products:new' i %}">신상품</a></li>
        <li><a href="{% url 'products:best' i %}">THE BEST</a></li>
        <li><a href="{% url 'products:sale' i %}">SALE</a></li>
      </ul>
      <ul class="nav-list shoes">
        {% for category in category_list%}
        <li><a href="{% url 'products:list' i category.pk %}"> {{category.name}} </a></li>
        {% endfor %}
      </ul>
      <ul class="nav-list sports">
        <li class="list-title">스포츠</li>
        <li>러닝</li>
        <li>트레이닝 & 짐</li>
        <li>축구</li>
        <li>골프</li>
        <li>테니스</li>
        <li>요가</li>
      </ul>
    </div>
  </div>
</li>
{% endfor %}
{% endblock %}

