{% extends "product/base.html" %} {% load humanize %}
<!-- title -->
{% block title %}신발-나이키{% endblock %}

<!-- aside -->
{% block aside %}
<input type="checkbox" id="toggle-aside" />
<input type="checkbox" id="toggle-section-header" />
<aside class="product">
  <div class="category-filter-box">
    <ul class="category-wrapper">
      <li>
        <a href=""><span>라이프스타일</span></a>
      </li>
      <li>
        <a href=""><span>러닝</span></a>
      </li>
      <li>
        <a href=""><span>트레이닝 & 짐</span></a>
      </li>
      <li>
        <a href=""><span>조던</span></a>
      </li>
      <li>
        <a href=""><span>축구</span></a>
      </li>
      <li>
        <a href=""><span>골프</span></a>
      </li>
      <li>
        <a href=""><span>테니스</span></a>
      </li>
      <li>
        <a href=""><span>샌들 & 슬리퍼</span></a>
      </li>
    </ul>
    <ul id="size-box">
      <div>
        <span>신발 사이즈</span>
        <button>접기</button>
      </div>
      <div id="size-wrapper">
        <label class="size-label" for="210">210</label>
        <label class="size-label" for="220">220</label>
        <label class="size-label" for="230">230</label>
        <label class="size-label" for="240">240</label>
        <label class="size-label" for="250">250</label>
      </div>
      <div class="input-wrapper">
        <input type="checkbox" name="size" id="210" value="210" />
        <input type="checkbox" name="size" id="220" value="220" />
        <input type="checkbox" name="size" id="230" value="230" />
        <input type="checkbox" name="size" id="240" value="240" />
        <input type="checkbox" name="size" id="250" value="250" />
      </div>
    </ul>
  </div>
</aside>
<script>
  $(document).ready(function() {
    $('input[name="size"]').on("click", function() {
      var size_checked_list = [];
      $('input[name="size"]:checked').each(function() {
        size_checked_list.push($(this).val());
      });
      console.log(size_checked_list);
    });
  });
</script>
{% endblock aside %}

<!-- content -->
{% block content %}
<div id="section-header">
  <h2 class="title" id="section-title">{{gender}}</h2>
  {% for category in category %}
  <h2 class="big-title">{{gender}}'s {{category.name}}</h2>
  {% endfor %}
  <div class="filter-option">
    <label for="toggle-aside">filter</label>
    <label for="toggle-section-header">접기</label>
    <div id="filter-box">
      <span>신상품순</span>
      <ul id="filter-wrapper">
        <li>
          <a href=""><span>신상품순</span></a>
        </li>
        <li>
          <a href=""><span>낮은 가격순</span></a>
        </li>
        <li>
          <a href=""><span>높은 가격순</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<section id="product" class="product">
  <div class="product-box">
    <div class="product-wrapper flex-box">
      {% for product in product_list %}
      <div class="card">
        <!-- product img -->
        <div class="img-wrapper">
          <a href="{% url 'products:detail' product.pk %}">
            <img src="{{product.thumbnail.url}}" alt="상품1 이미지" />
          </a>
        </div>
        <div class="product-info">
          <!-- item-title-->
          <div class="item-title ">{{product.name}}</div>
          <!-- sub-title -->
          <div class="item-subtitle color-8D">
            {{product.style}}
          </div>
          <!-- item-color 는 안 하기로 결정-->
          <!-- price -->
          <div class="color-8D">{{product.price|intcomma}}원</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
