{% extends "product/base.html" %} {% load humanize %} {% load static %}
<!-- link -->
{% block link %}
<link rel="stylesheet" href="{% static 'product/css/sales.css' %}" />
<script src="{% static 'product/js/product-sale.js' %}"></script>
{% endblock %}

<!-- title -->
{% block title %}SALE - 나이키{% endblock %}

<!-- block -->
{% block content %}
<section class="cover" id="sales-section">
  <div id="sales-box">
    <header>
      <span id="gender" class="hide">{{gender}}</span>
      <span id="category" class="hide">{{category_id}}</span>
      <p>{{gender}}`s SALE</p>
      <div id="sale-main-nav">
        <ul>
          <li class="Men">
            <a href="{% url 'products:sale' 1 0 %}"
              ><span class="Men">MEN</span></a
            >
          </li>
          <li class="Women">
            <a href="{% url 'products:sale' 2 0 %}"
              ><span class="Women">WOMEN</span></a
            >
          </li>
          <li>
            <a href=""><span>KIDS</span></a>
          </li>
        </ul>
      </div>
      {% if gender == "Men" %}
      <ul class="under-nav-list">
        <li>
          <a href="{% url 'products:sale' 1 1 %}"
            ><span class="category">라이프스타일</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 1 2 %}"
            ><span class="category">러닝</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 1 3 %}"
            ><span class="category">농구</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 1 4 %}"
            ><span class="category">축구</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 1 5 %}"
            ><span class="category">샌들 & 슬리퍼</span></a
          >
        </li>
      </ul>
      {% else %}
      <ul class="under-nav-list">
        <li>
          <a href="{% url 'products:sale' 2 1 %}"
            ><span class="category">라이프스타일</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 2 2 %}"
            ><span class="category">러닝</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 2 3 %}"
            ><span class="category">골프</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 2 4 %}"
            ><span class="category">축구</span></a
          >
        </li>
        <li>
          <a href="{% url 'products:sale' 2 5 %}"
            ><span class="category">샌들 & 슬리퍼</span></a
          >
        </li>
      </ul>
      {% endif %}
    </header>
    <div id="sale-gallery">
      {% for product in product_list %}
      <div class="sale-card">
        <div class="img-wrapper">
          <a href="../../../product/detail/{{product.id}}">
            <!-- 이미지 url -->
            <img
              src="{{ product.thumbnail.url }}"
              alt="세일이미지{{product.pk}}"
            />
          </a>
        </div>
        <div class="sale-product-info">
          <p>
            <!-- 재고가 있을 경우 -->
            <span class="color-light-o">가격 인하</span>
            <!-- 재고가 없을 경우 -->
            <!-- <span class="color-light-o">품절</span> -->
            <span class="color-8D oldPrice" id="{{product.pk}}">
              {{product.price}}
            </span>
          </p>
          <p>
            <span>
              {{product.name}}
            </span>
            <span id="newPrice{{product.pk}}" class="price">
              {{product.price}}
            </span>
          </p>
          <span class="color-8D style {{product.gender}}">
            <!-- 여성 농구 => 여성 골프 -->
            {% if category_id == 3 and gender == "Women"%} 여성 골프 {% else %}
            <!-- 나머지 -->
            {{product.gender}} {{product.category_id}} {% endif %}
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
