<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>{{ category }}</p>

<p>{{ product.name }}</p>
<p>{{ product.price }}</p>

<p>썸네일 이미지</p>
<img src="{{ product.thumbnail.url }}" style="width: 300px; height: 200px;">
<p>상세 이미지</p>
{% for p in product_image %}
<img src="{{ p.image.url }}" style="width: 300px; height: 200px;">
{% endfor %}
<p>사이즈</p>
{% for p in inventory %}
<p>{{ p.size }}</p>
{% endfor %}

<form action="" method="post">
    <input type="text" name="size" value="230"/>
    <input type="text" name="quantity" value="2"/>
    <input type="text" name="size" value="{{ product.name }}"/>
</form>

</body>
</html>