<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<p>{{ category }}</p>

<p>{{ product.name }}</p>
<p>{{ product.price }}</p>

<p>썸네일 이미지</p>
<img src="{{ product.thumbnail.url }}" style="width: 300px; height: 200px;">
<p>상세 이미지</p>
{% for p in product_image %}
<img src="{{ p.image.url }}" style="width: 300px; height: 200px;">
{% endfor %}
<p>사이즈</p>
{% for p in inventory %}
<p>{{ p.size }}</p>
{% endfor %}

<form>
    <input type="text" id="user-id" value="1"/>
    <input type="text" id="inventory-id" value="1"/>
    <input type="text" id="quantity" value="2"/>
    <button type="button" id="cart-btn">장바구니</button>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#cart-btn").on('click', function() {
            var user_id = $("#user-id").val();
            var inventory_id = $("#inventory-id").val();
            var quantity = $("#quantity").val();
            $.ajax({
                type: "POST",
                url: "/add-cart/",
                data: {user: user_id,
                    inventory: inventory_id,
                    quantity: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(data) {
                    var answer = data.result;
                    alert(answer);
                }
            });
            return false;
        });
    });
</script>

</body>
</html>