{% extends "product/base.html" %} {% load humanize %}
<!-- title -->
{% block title %}신발-나이키{% endblock %}

<!-- 링크확장 -->
{% load static %}
<!-- 링크확장 -->
{% block link %}
<script src="{% static 'product/js/product.js' %}"></script>
{% endblock %}

<!-- aside -->
{% block aside %}
<input type="checkbox" id="toggle-aside" />
<input type="checkbox" id="toggle-section-header" />
<aside class="product" id="aside-product">
  <div class="category-filter-box">
    {% if gender == 'Men' %}
    <ul class="category-wrapper">
      <li>
        <a href="{% url 'products:list' 1 1 %}"><span>라이프스타일</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 1 2 %}"><span>러닝</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 1 3 %}"><span>농구</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 1 4 %}"><span>축구</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 1 5 %}"><span>샌들 & 슬리퍼</span></a>
      </li>
    </ul>
    {% else%}
    <ul class="category-wrapper">
      <li>
        <a href="{% url 'products:list' 2 1 %}"><span>라이프스타일</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 2 2 %}"><span>러닝</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 2 3 %}"><span>골프</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 2 4 %}"><span>축구</span></a>
      </li>
      <li>
        <a href="{% url 'products:list' 2 5 %}"><span>샌들 & 슬리퍼</span></a>
      </li>
    </ul>
    {% endif %}
    <ul id="size-box">
      <div class="list-header">
        <p>신발 사이즈 <span id="aside-checked-size"></span></p>
        <span class="toggle-aside" id="toggle-size"
          ><i class="xi-angle-up"></i
        ></span>
      </div>
      <div id="size-wrapper">
        <label class="size-label" for="220">220</label>
        <label class="size-label" for="225">225</label>
        <label class="size-label" for="230">230</label>
        <label class="size-label" for="234">234</label>
        <label class="size-label" for="235">235</label>
        <label class="size-label" for="239">239</label>
        <label class="size-label" for="240">240</label>
        <label class="size-label" for="245">245</label>
        <label class="size-label" for="250">250</label>
        <label class="size-label" for="255">255</label>
        <label class="size-label" for="260">260</label>
        <label class="size-label" for="265">265</label>
        <label class="size-label" for="270">270</label>
        <label class="size-label" for="280">280</label>
        <label class="size-label" for="285">285</label>
        <label class="size-label" for="290">290</label>
        <label class="size-label" for="295">295</label>
        <label class="size-label" for="300">300</label>
        <label class="size-label" for="305">305</label>
        <label class="size-label" for="310">310</label>
        <label class="size-label" for="315">315</label>
        <label class="size-label" for="320">320</label>
        <label class="size-label" for="325">325</label>
        <label class="size-label" for="330">330</label>
        <label class="size-label" for="335">335</label>
        <label class="size-label" for="340">340</label>
        <label class="size-label" for="350">350</label>
        <label class="size-label" for="360">360</label>
        <label class="size-label" for="370">370</label>
        <label class="size-label" for="380">380</label>
        <label class="size-label" for="390">390</label>
        <label class="size-label" for="400">400</label>
      </div>
      <div class="input-wrapper">
        <input
          type="checkbox"
          name="size"
          id="220"
          value="220"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="225"
          value="225"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="230"
          value="230"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="234"
          value="234"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="235"
          value="235"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="239"
          value="239"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="240"
          value="240"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="245"
          value="245"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="250"
          value="250"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="255"
          value="255"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="260"
          value="260"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="265"
          value="265"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="270"
          value="270"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="280"
          value="280"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="285"
          value="285"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="290"
          value="290"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="295"
          value="295"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="300"
          value="300"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="305"
          value="305"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="310"
          value="310"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="315"
          value="315"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="320"
          value="320"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="325"
          value="325"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="330"
          value="330"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="335"
          value="335"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="340"
          value="340"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="350"
          value="350"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="360"
          value="360"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="370"
          value="370"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="380"
          value="380"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="390"
          value="390"
          class="re-order"
        />
        <input
          type="checkbox"
          name="size"
          id="400"
          value="400"
          class="re-order"
        />
      </div>
    </ul>
  </div>
</aside>
<script>
  $(document).ready(function() {
    //  전체 상품은 보여주고
    $("#notAjax").show();
    //  ajax는 숨겨주고
    $("#forAjax").hide();
    $("#price_align_asc").hide();
    $("#price_align_desc").hide();
    $("#current_align").hide();
    // 사이즈 버튼이 클릭 되면 ==> 정렬 방식도 가져오고
    //  정렬 방식이 클릭되어도 사이즈를 가져오게끔
    $(".re-order").on("click", function() {
      var size_checked_list = [];
      var orderType = "";
      $('input[name="size"]:checked').each(function() {
        size_checked_list.push($(this).val());
      });

      // 정렬방식이 정해졌다면
      orderType = $("input[name='orderType']:checked").attr("id");

      var url = $(location).attr("pathname");
      console.log(size_checked_list);
      console.log(orderType);
      $.ajax({
        type: "POST",
        url: "{% url 'products:size' %}",
        data: {
          size: size_checked_list,
          orderType: orderType,
          url: url,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        traditional: true,
        dataType: "json",
        success: function(response) {
          console.log(response);
          $("#forAjax .card").fadeOut("nomal", function() {
            $(this).remove();
          });
          var product = JSON.parse(response.product_list);
          if (product.length === 0 && size_checked_list.length === 0) {
            $("#notAjax").show(1000);
            $("#forAjax").hide("slow");
            return;
          }
          $("#notAjax").hide(1000);
          $("#forAjax").show("slow");
          var forAjax = $("#forAjax");
          for (var i = 0; i < product.length; i++) {
            forAjax.append(
              `<div class='card card${i +
                1}'><div class='img-wrapper'><a class='linkDetail${i}'><img class='thumImg${i}'/></a><e/div><div class='product-info'><div class='itemTitle${i}'></div><div class='item-subtitle style${i} color-8D'></div><div class='price${i} color-8D'>원</div></div></div>`
            );
            var pk = product[i]["pk"];
            $(`.linkDetail${i}`).attr("href", "../../detail/" + pk + "/");
            $(`.thumImg${i}`).attr(
              "src",
              "/media/" + product[i]["fields"]["thumbnail"]
            );
            $(`.itemTitle${i}`).html(product[i]["fields"]["name"]);
            $(`.style${i}`).html(product[i]["fields"]["style"]);
            $(`.price${i}`).prepend(product[i]["fields"]["price"]);
          }
        },
        error: function(request, status, error) {
          console.log("실패");
        }
      });
    });
  });
</script>
{% endblock aside %}

<!-- content -->
{% block content %}
<div id="section-header">
  {% if gender == 'Men' %}
  <h2 class="title" id="section-title">Men</h2>
  {% if category %} {% if category == '신발' %}
  <h2 class="big-title">{{gender}}'s {{category}}</h2>
  {% else %}
  <!-- 남성 전체 신발 if -->
  {% for category in category %}
  <h2 class="big-title">{{gender}}'s {{category.name}}</h2>
  {% endfor %}
  <!-- category name -->
  {% endif %}
  <!-- 남자 category if-->
  {% else %}
  <h2 class="big-title">{{gender}}'s New Releases</h2>
  {% endif %}
  <!-- 신상일 경우의 subtitle -->
  <!-- 여성 -->
  {% else %}
  <h2 class="title" id="section-title">Women</h2>
  {% if category %} {% if category == '신발' %}
  <h2 class="big-title">{{gender}}'s {{category}}</h2>
  {% else %}
  <!--  여성 전체 신발 if-->
  {% for category in category %} {% if category.name == '농구' %}
  <h2 class="big-title">{{gender}}'s 골프</h2>
  {% else %}
  <h2 class="big-title">{{gender}}'s {{category.name}}</h2>
  {% endif %}
  <!-- 농구 -> 골프 if -->
  {% endfor %}
  <!-- category name -->
  {% endif %}
  <!-- 여자 category if-->
  {% else %}
  <h2 class="big-title">{{gender}}'s New Releases</h2>
  {% endif %}
  <!-- 신상일 경우의 subtitle -->
  {% endif %}
  <!-- gender if -->

  <div class="filter-option">
    <span id="mobile-toggle-aside">필터</span>
    <label for="toggle-aside">filter</label>
    <label for="toggle-section-header">접기</label>
    <div id="filter-box">
      <div id="filter-btn">
        <span id="current-filter">신상품순</span>
        <span><i class="xi-angle-down"></i></span>
      </div>
      <ul id="filter-wrapper">
        <input type="radio" name="orderType" id="new-order" class="re-order" />
        <input type="radio" name="orderType" id="low-order" class="re-order" />
        <input type="radio" name="orderType" id="high-order" class="re-order" />
        <li>
          <label for="new-order"><span>신상품순</span></label>
        </li>
        <li>
          <label for="low-order"><span>낮은 가격순</span></label>
        </li>
        <li>
          <label for="high-order"><span>높은 가격순</span></label>
        </li>
      </ul>
    </div>
  </div>
</div>
<section id="product" class="product">
  <div class="product-box">
    <div id="notAjax" class="product-wrapper flex-box">
      {% for product in product_list %}
      <div class="card">
        <!-- product img -->
        <div class="img-wrapper">
          <a href="{% url 'products:detail' product.pk %}">
            <img src="{{product.thumbnail.url}}" alt="상품이미지" />
          </a>
        </div>
        <div class="product-info">
          <!-- item-title-->
          <div class="item-title">{{product.name}}</div>
          <!-- sub-title -->
          <div class="item-subtitle color-8D">{{product.style}}</div>
          <!-- item-color 는 안 하기로 결정-->
          <!-- price -->
          <div>{{product.price|intcomma}}원</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="forAjax" class="product-wrapper flex-box"></div>
  </div>
</section>
{% endblock content %}
