{% extends "product/base.html" %}
<!-- title -->
{% block title %} 나이키 {% endblock %}

<!-- content -->
{% block content %}
<section id="sign-up" class="cover">
  <h1>회원가입</h1>
  <div class="sns-box">
    <a href="">
      <div class="sns-kakao sns">
        <span>카카오 계정으로 신규 가입</span>
      </div>
    </a>
    <a href="">
      <div class="sns-facebook sns">
        <span>페이스북 계정으로 신규 가입</span>
      </div>
    </a>
  </div>
  <div class="form-box">
    <div class="hr"><span>OR</span></div>

    <form action="post">
      <input
        type="text"
        placeholder="사용하실 ID를 입력해주세요. (수신가능 E-mail)"
      />
      <input
        type="password"
        placeholder="영문+숫자+특수문자 8~16자리(특수문자 괄호()는 사용불가)"
      />
      <input type="password" placeholder="패스워드를 다시 입력해 주세요." />
      <input type="text" placeholder="이름을 입력해 주세요." />
      <input type="text" placeholder="휴대폰 번호 '-'표 없이 입력해 주세요." />
      <button type="submit" class="sns">
        <span>회원가입하기 (만 14세 이상)</span>
      </button>
    </form>
  </div>
</section>
{% endblock %}
