aside {
  width: 288px;
  height: 100vh;
  padding: 0 48px;
  position: fixed;
  box-sizing: border-box;
  border: 1px solid;
  overflow-y: scroll;
  /* z-index: 99; */
  margin: 108.5px 0 0 0;
}
aside::-webkit-scrollbar {
  display: none;
}

.category-wrapper li {
  height: 35px;
}

.category-wrapper li a {
  display: inline-block;
  padding: 7px 0;
}
