section {
  position: relative;
  z-index: 1;
  max-width: 960px;
  top: 108.5px;
  left: 288px;
  min-height: 100vh;
  transition: 0.35s;
}
/* landing-section */
.cover {
  left: 0;
  min-width: 100%;
}
section.product {
  top: 264px;
  margin-bottom: 264px;
}

/* -------------------------------------------------------------- product */

/* product */
#product {
  width: 929px;
}

/* wrapper */
.product-wrapper {
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* card */
.card {
  width: 300px;
  margin-bottom: 80px;
}

.card .img-wrapper {
  width: 300px;
  height: 300px;
}
.product-info {
  font-size: 16px;
  padding: 10px 0;
}
.item-subtitle {
  padding-bottom: 10px;
}

#toggle-aside:checked ~ .product {
  left: 0;
  max-width: 100%;
  width: 100%;
}

#section-header {
  position: fixed;
  top: 108px;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 156px;
  padding: 30px 48px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  transition: 0.35s;
}
#toggle-section-header:checked ~ #section-header {
  top: 27px;
}
#toggle-section-header:checked ~ .product {
  top: 140px;
}

.filter-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  /* height: 30px; */
  font-size: 15px;
  /* border: 1px solid; */
}
.filter-option label {
  margin-right: 30px;
  cursor: pointer;
}
#filter-box {
  position: relative;
}

#filter-box span {
  cursor: pointer;
}

#filter-wrapper {
  display: none;
}
#filter-wrapper.filter-wrapper {
  position: absolute;
  left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 161px;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 4px;
}
#filter-wrapper.filter-wrapper > li {
  margin-bottom: 15px;
}
#filter-wrapper.filter-wrapper span:hover {
  color: #e0e0e0;
}

#filter-wrapper input[type="radio"] {
  display: none;
}

#filter-btn {
  width: 100px;
}
#mobile-toggle-aside {
  display: none;
}
@media screen and (max-width: 883px) {
  #section-header {
    top: 70px;
    padding: 30px 12px 30px 34px;
  }
  #toggle-section-header:checked ~ #section-header {
    top: -10px;
  }
  #toggle-section-header:checked ~ .product {
    top: 140px;
  }
  section#product {
    width: 100%;
    left: 0;
  }
  /* 기존 필터 버튼 */
  label[for="toggle-aside"] {
    display: none;
  }
  /* 모바일 전용 필터 버튼  */
  #mobile-toggle-aside {
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
  }
  .card {
    flex-basis: 49%;
  }

  .card .img-wrapper {
    min-height: 317px;
    width: 100%;
    height: 65%;
  }
}
@media screen and (max-width: 425px) {
  .card .img-wrapper {
    min-height: 190px;
  }
}

/* -------------------------------------------------------------- detail*/
section#detail {
  padding: 20px;
}
#detail .detail-header {
  display: flex;
  width: 100%;
}

.detail-img-gallery {
  width: 65%;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.detail-img-wrapper {
  width: 47.5%;
  height: 348px;
  margin: 0 10px 10px 0;
}

.detail-selection {
  width: 449px;
}

.detail-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
}
.size-wrapper {
  padding-top: 20px;
}
.detail-num-wrapper {
  border-bottom: 1px solid #e0e0e0;
}
.detail-num {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.detail-num > span {
  font-size: 16px;
  font-weight: bold;
}
/* size btn */
input[name="inventory"] {
  display: none;
}
.size-selector {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 0;
}
.size-selector span {
  display: none;
}
.size-selector label {
  flex-basis: 18%;
  margin: 6px 6px 0 0;
  padding: 16px 0;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
input[name="inventory"]:checked + label {
  background-color: black;
  color: #fff;
}
label.no-amount {
  background-color: rgb(247, 247, 247);
  color: #e0e0e0;
  cursor: initial;
}

/* + - 버튼 */
.detail-num > button {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 15px;
}
.detail-num > button:focus {
  outline: none;
}

#order-wrapper {
  margin-top: 40px;
}
#order-wrapper > span {
  margin-bottom: 10px;
  cursor: pointer;
}
.mini-cart-header {
  width: 290px;
  margin: 10px auto;
}

.mini-image-wrapper {
  width: 290px;
  height: 290px;
  margin: 10px auto;
}

.mini-cart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}
.mini-cart-wrapper li {
  margin: 10px 0;
}

.mini-cart-link {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mini-cart-link > * {
  width: 290px;
  height: 40px;
  padding: 0 16px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
}
.mini-cart-link span {
  cursor: pointer;
}

.mini-cart-link a:first-child {
  background-color: #fff;
  color: black;
  border: 1px solid #e0e0e0;
}
.mini-cart-link a + a {
  margin-top: 10px;
  background-color: rgb(248, 84, 32);
}

/* review */
.review-box {
  margin-top: 40px;
  border-top: 1px solid #e0e0e0;
}
.review-box > li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
  height: 55px;
  overflow: hidden;
  transition: ease 0.35s;
}
#review-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px 0;
  cursor: pointer;
}
.review-wrapper {
  position: relative;
  height: 100vh;
}
.review-wrapper li {
  padding: 20px 0;
}
.my-review-input input {
  width: 80%;
}
/* cart-modal */
.modal-cover {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.5);
  touch-action: none;
}
.on-modal {
  display: flex;
  overflow: hidden;
  flex-direction: row-reverse;
}

.modal-cover .mini-cart {
  position: relative;
  right: 0;
  width: 330px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
}
.black-paper {
  height: 100vh;
  position: relative;
  flex: 1;
}
/* detail - mobile */
@media screen and (max-width: 900px) {
  .detail-img-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  #detail .detail-header {
    flex-direction: column;
    align-items: center;
  }
  .detail-img-gallery {
    width: 90%;
    margin-bottom: 50px;
  }
  .detail-img-wrapper {
    width: 48%;
  }
}
@media screen and (max-width: 664px) {
  .detail-img-gallery {
    justify-content: center;
  }
  .detail-img-wrapper {
    width: 90%;
    margin-right: 0;
  }
}

/* -------------------------------------------------------------- sign-up */
/* sign-up */
#sign-up {
  padding: 45px 0;
}
#sign-up > h1 {
  width: 380px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

#sign-up .form-box-signUp,
#sign-in .form-box-signIn {
  /* border: 1px solid; */
  width: 380px;
  margin: 0 auto;
  padding-bottom: 80px;
}
#sign-up .form-box-signUp p {
  margin: 10px 0;
}

.sign-up-input,
.sign-in-input {
  width: 380px;
  height: 44px;
  border: 0.5px solid rgb(229, 229, 229);
  padding: 9px 12px;
}

.form-box-signUp input[type="submit"],
.form-box-signIn input[type="submit"] {
  margin-top: 20px;
  background-color: black;
  color: #fff;
}
.login-alert-msg {
  color: rgb(248, 84, 32);
  font-size: 10px;
  padding-top: 20px;
}

/* -------------------------------------------------------------- sign-in*/
/* sign-in */
.sign-in-header {
  width: 380px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box-signIn {
  margin-top: 20px;
}

.sign-in-footer {
  text-align: center;
  margin-top: 30px;
  color: rgb(229, 229, 229);
}
.sign-in-footer a {
  color: black;
  text-decoration: underline;
}

/* already-login */
.already-login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 108px;
  width: 100%;
  height: 40vh;
  font-size: 14px;
}
.already-login div {
  width: 200px;
  justify-content: space-around;
}
.already-login a {
  display: inline-block;
  width: 85.77px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: black;
  color: #fff;
}
.already-login h2 {
  font-size: 24px;
  margin: 15px 0;
}
.already-login span {
  margin: 20px 0;
}
/* -------------------------------------------------------------- profile mypage */
/* profile */
/* member안에 있는 css 폴더로 옮겨야 함 */
section#profile .profile-list-title,
section#profile .profile-list-view {
  border-bottom: 1px solid #e0e0e0;
}
.profile-list-title {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.profile-list-title a {
  align-self: flex-end;
  text-decoration: underline;
}

.profile-list-view {
  text-align: center;
  padding: 50px 0;
}
#profile-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-cart a {
  display: inline-block;
  background-color: black;
  color: #fff;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;

  /* margin */
  margin-top: 20px;
}

/* profile-update */
#profile-update,
#profile-password {
  height: 700px;
}
.profile-update-title {
  font-size: 30px;
}
#profile-update input,
#profile-password input,
#profile-delete input {
  width: 442.5px;
  height: 40px;
  padding: 9px 12px;
  /* margin-bottom: 20px; */
}
#profile-update input[type="submit"],
#profile-password input[type="submit"],
#profile-delete input[type="submit"] {
  background-color: black;
  color: #fff;
}
#profile-delete p {
  width: 442.5px;
  font-size: 24px;
  margin: 20px 0;
}

/* -------------------------------------------------------------- best */
.best-category-gallery {
  width: 75%;
  margin: 0 auto;
  padding: 40px 0;
}
.best-category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.5%;
}
.best-category-header a {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  border-radius: 3px;
  background-color: #fff;
  font-size: 13px;
}

.best-img-box {
  position: relative;
  right: -50%;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
/* 슬리퍼 box */
.best-img-box.flip {
  position: relative;
  right: 0;
  width: 100%;
}
.best-img-box-right {
  position: relative;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.best-img-box .best-img-wrapper:first-child {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 0 5px 5px 0;
}
/*  슬리퍼 */
.best-img-box .best-img-wrapper.flip:first-child {
  position: relative;
  left: 0;
  width: auto;
  height: 260px;
  padding: 0;
}
.best-img-box-right .best-img-wrapper:first-child {
  position: absolute;
  right: -96%;
  width: 100%;
  height: 100%;
  padding: 0 0 5px 5px;
}
.best-img-wrapper {
  position: relative;
  flex-basis: 47%;
  height: 260px;
  margin: 0 5px 5px 0;
}
.best-img-wrapper.flip {
  flex-basis: 23.5%;
}

.best-hover-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
.best-hover-box a {
  margin-top: 20px;
  font-size: 16px;
  text-decoration: underline;
}

.best-img-wrapper:hover .best-hover-box {
  display: flex;
}

@media screen and (max-width: 768px) {
  .best-img-box {
    flex-direction: column;
  }
}
