section {
  position: relative;
  z-index: 1;
  top: 108.5px;
  left: 288px;
  min-height: 100vh;
}
/* landing-section */
.cover {
  left: 0;
}

/* product */
#product {
  width: 929px;
}

/* wrapper */
.product-wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid;
}

/* card */
.card {
  border: 1px solid;
  width: 300px;
  margin-bottom: 80px;
}

.card .img-wrapper {
  width: 300px;
  height: 300px;
}

.card .item-info {
  padding: 10px 0 0 10px;
}

.card .item-subtitle {
  color: rgb(96, 96, 96);
  padding: 0 0 10px 10px;
}

/* detail */
#detail .detail-header {
  display: flex;
  width: 100%;
}

.detail-img-gallery {
  width: 720px;
  padding: 0 54px;
}

.detail-img-wrapper {
  width: 348px;
  height: 348px;
}

.detail-selection {
  width: 449px;
}

.detail-view-wrap iframe {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 71.6%;
  left: 0;
}

/* sign-up */
#sign-up {
  /* background-color: rosybrown; */
}

#sign-up > h1,
#sign-in > h1 {
  width: 380px;
  margin: 20px auto 0 auto;
  text-align: center;
}

#sign-up .form-box-signUp,
#sign-in .form-box-signIn {
  /* border: 1px solid; */
  width: 380px;
  margin: 0 auto;
}
#sign-up .form-box-signUp p {
  margin: 10px 0;
}

.sign-up-input,
.sign-in-input {
  width: 380px;
  height: 44px;
  border: 0.5px solid rgb(229, 229, 229);
  padding: 9px 12px;
}

.form-box-signUp input[type="submit"],
.form-box-signIn input[type="submit"] {
  margin-top: 20px;
  background-color: black;
  color: #fff;
}

/* sign-in */
.form-box-signIn {
  margin-top: 20px;
}

/* cart */
#cart {
  width: 100%;
}
/* cart */
#cart .cart-header {
  border: 1px solid;
  text-align: center;
}

#no-items {
  margin-top: 30px;
  text-align: center;
}
#no-items i {
  font-size: 40px;
}
.cart-contents {
  border: 1px solid;
  display: flex;
}

.cart-list-box {
  border: 1px solid seagreen;
}
.cart-list-wrapper {
  width: 841px;
}
.cart-list-wrapper > li {
  display: flex;
  width: 841px;
  height: 152px;
  padding: 20px 50px 20px 0;
  justify-content: space-between;
  color: rgb(96, 96, 96);
}
.cart-itemimg-wrapper {
  width: 110px;
  height: 110px;
}

.cart-list-wrapper > li .cart-item-detail {
  width: 420px;
}
.cart-list-wrapper > li .cart-item-detail ul li:nth-child(1) {
  font-size: 14px;
  font-weight: bolder;
  color: black;
}

.cart-list-wrapper > li .cart-item-detail ul li:nth-child(2) {
  font-weight: 600;
  margin-top: 10px;
  color: black;
}
.cart-list-wrapper > li .cart-item-detail ul li:nth-child(3) {
  margin-bottom: 5px;
}

.cart-list-wrapper > li .cart-item-option {
  text-decoration: underline;
}
.cart-list-wrapper > li .cart-item-price {
  color: rgb(248, 84, 32);
}
.cart-list-wrapper > li .cart-item-delete {
  cursor: pointer;
}

/* cart-order-box */
.cart-order-box {
  border: 1px solid rgb(229, 229, 229);
  width: 384px;
  height: 350px;
  margin-left: 20px;
}

.cart-order-header {
  background-color: rgb(229, 229, 229);
  padding: 20px;
}

.cart-order-info {
  padding: 20px;
}
.order-info-list {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.cart-order-box a {
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  padding: 16px 0;
  background: rgb(248, 84, 32);
  width: 342px;
  height: 48px;
  text-align: center;
  border: none;
  color: #fff;
}
