section {
  position: relative;
  z-index: 1;
  max-width: 960px;
  top: 108.5px;
  left: 288px;
  min-height: 100vh;
  transition: 0.35s;
}
/* landing-section */
.cover {
  left: 0;
  min-width: 100%;
}
section.product {
  top: 264px;
  margin-bottom: 264px;
}
#toggle-aside:checked ~ .product {
  left: 0;
  max-width: 100%;
  width: 100%;
}

#section-header {
  position: fixed;
  top: 108px;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 156px;
  padding: 30px 48px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  transition: 0.35s;
}
#toggle-section-header:checked ~ #section-header {
  top: 27px;
}
#toggle-section-header:checked ~ .product {
  top: 140px;
}

.filter-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  /* height: 30px; */
  font-size: 15px;
  /* border: 1px solid; */
}
.filter-option label {
  margin-right: 30px;
  cursor: pointer;
}

#filter-wrapper {
  display: none;
}
#filter-box > span {
  cursor: pointer;
}

/* --------------------------------------------------------------  index mainpage*/
#index .main-card {
  width: 95%;
  margin: 0 auto 40px auto;
}

#index .card-comment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.card-comment-box .card-comment-header {
  text-align: center;
  margin-bottom: 40px;
}

.card-comment-header p {
  font-size: 16px;
}

#index .main-card video {
  width: 100%;
}

/* -------------------------------------------------------------- product */

/* product */
#product {
  width: 929px;
}

/* wrapper */
.product-wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
}

/* card */
.card {
  width: 300px;
  margin-bottom: 80px;
}

.card .img-wrapper {
  width: 300px;
  height: 300px;
}
.product-info {
  font-size: 16px;
  padding: 10px 0;
}
.item-subtitle {
  padding-bottom: 10px;
}
/* -------------------------------------------------------------- detail*/
/* detail */
section#detail {
  padding: 20px;
}
#detail .detail-header {
  display: flex;
  width: 100%;
}

.detail-img-gallery {
  width: 840px;
  padding: 0 50px 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.detail-img-wrapper {
  width: 348px;
  height: 348px;
  margin: 0 10px 10px 0;
}

.detail-selection {
  width: 449px;
}

.detail-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
}
.size-wrapper {
  padding-top: 20px;
}
.detail-num-wrapper {
  border-bottom: 1px solid #e0e0e0;
}
.detail-num {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.detail-num > span {
  font-size: 16px;
  font-weight: bold;
}
/* size btn */
input[name="inventory"] {
  display: none;
}
.size-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 0;
}
.size-selector span {
  display: none;
}
.size-selector label {
  flex-basis: 19%;
  margin-top: 6px;
  padding: 16px 0;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
input[name="inventory"]:checked + label {
  background-color: black;
  color: #fff;
}
label.no-amount {
  background-color: rgb(247, 247, 247);
  color: #e0e0e0;
  cursor: initial;
}

/* + - 버튼 */
.detail-num > button {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 15px;
}
.detail-num > button:focus {
  outline: none;
}

#order-wrapper {
  margin-top: 40px;
}
#order-wrapper a {
  margin-bottom: 10px;
}

/* 장바구니 버튼 */
#cart-btn {
  cursor: pointer;
}
.mini-cart-header {
  width: 290px;
  margin: 10px auto;
}

.mini-image-wrapper {
  width: 290px;
  height: 290px;
  margin: 10px auto;
}

.mini-cart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}
.mini-cart-wrapper li {
  margin: 10px 0;
}

.mini-cart-link {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mini-cart-link a {
  width: 290px;
  height: 40px;
  padding: 0 16px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
}

.mini-cart-link a:first-child {
  background-color: #fff;
  color: black;
  border: 1px solid #e0e0e0;
}
.mini-cart-link a + a {
  margin-top: 10px;
  background-color: rgb(248, 84, 32);
}

/* -------------------------------------------------------------- sign-up */
/* sign-up */
#sign-up > h1 {
  width: 380px;
  margin: 20px auto 0 auto;
  text-align: center;
}

#sign-up .form-box-signUp,
#sign-in .form-box-signIn {
  /* border: 1px solid; */
  width: 380px;
  margin: 20px auto 0 auto;
}
#sign-up .form-box-signUp p {
  margin: 10px 0;
}

.sign-up-input,
.sign-in-input {
  width: 380px;
  height: 44px;
  border: 0.5px solid rgb(229, 229, 229);
  padding: 9px 12px;
}

.form-box-signUp input[type="submit"],
.form-box-signIn input[type="submit"] {
  margin-top: 20px;
  background-color: black;
  color: #fff;
}

/* -------------------------------------------------------------- sign-in*/
/* sign-in */
.sign-in-header {
  width: 380px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box-signIn {
  margin-top: 20px;
}

.sign-in-footer {
  text-align: center;
  margin-top: 30px;
  color: rgb(229, 229, 229);
}
.sign-in-footer a {
  color: black;
  text-decoration: underline;
}

/* already-login */
.already-login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 108px;
  width: 100%;
  height: 40vh;
  font-size: 14px;
}
.already-login div {
  width: 200px;
  justify-content: space-around;
}
.already-login a {
  display: inline-block;
  width: 85.77px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: black;
  color: #fff;
}
.already-login h2 {
  font-size: 24px;
  margin: 15px 0;
}
.already-login span {
  margin: 20px 0;
}
/* -------------------------------------------------------------- cart */
/* cart */
#cart {
  width: 100%;
}
/* cart */
#cart .cart-header {
  padding: 30px 0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

#no-items {
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
#no-items i {
  font-size: 40px;
}
.cart-contents {
  padding: 20px 0;
  display: flex;
}

.cart-list-box {
  border: 1px solid seagreen;
}
.cart-list-wrapper {
  width: 841px;
  border-bottom: 1px solid #e0e0e0;
}
#cart-list-delete {
  height: 20px;
  border-top: 1px solid #e0e0e0;
}
.cart-list-wrapper > li {
  display: flex;
  width: 841px;
  height: 152px;
  padding: 20px 50px 20px 0;
  justify-content: space-between;
  color: rgb(96, 96, 96);
  border-top: 1px solid #e0e0e0;
}
.cart-itemimg-wrapper {
  width: 110px;
  height: 110px;
}

.cart-list-wrapper > li .cart-item-detail {
  width: 420px;
}
.cart-list-wrapper > li .cart-item-detail ul li:nth-child(1) {
  font-size: 14px;
  font-weight: bolder;
  color: black;
}

.cart-list-wrapper > li .cart-item-detail ul li:nth-child(2) {
  font-weight: 600;
  margin-top: 10px;
  color: black;
}
.cart-list-wrapper > li .cart-item-detail ul li:nth-child(3) {
  margin-bottom: 5px;
}

.cart-list-wrapper > li .cart-item-option {
  text-decoration: underline;
}

.cart-list-wrapper > li .cart-item-delete {
  cursor: pointer;
}

/* cart-order-box */
.cart-order-box {
  border: 1px solid rgb(229, 229, 229);
  width: 384px;
  margin-left: 20px;
}

.cart-order-header {
  background-color: rgb(229, 229, 229);
  padding: 20px;
}

.cart-order-info {
  padding: 20px;
}
.order-info-list {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.cart-order-box a {
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  padding: 16px 0;
  background: rgb(248, 84, 32);
  width: 342px;
  height: 48px;
  text-align: center;
  border: none;
  color: #fff;
}
/* cart-modal */
.modal-cover {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.5);
  touch-action: none;
}
.on-modal {
  display: flex;
  overflow: hidden;
}

.modal-cover .mini-cart {
  position: absolute;
  right: 0;
  width: 330px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
}

/* -------------------------------------------------------------- prfile mypage */
/* profile */
/* member안에 있는 css 폴더로 옮겨야 함 */
section#profile .profile-list-title,
section#profile .profile-list-view {
  border-bottom: 1px solid #e0e0e0;
}
.profile-list-title {
  padding: 30px 0;
}

.profile-list-view {
  text-align: center;
  padding: 50px 0;
}
#profile-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-cart a {
  display: inline-block;
  background-color: black;
  color: #fff;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;

  /* margin */
  margin-top: 20px;
}

/* profile-update */
#profile-update,
#profile-password {
  height: 700px;
}
.profile-update-title {
  font-size: 30px;
}
#profile-update input,
#profile-password input,
#profile-delete input {
  width: 442.5px;
  height: 40px;
  padding: 9px 12px;
  /* margin-bottom: 20px; */
}
#profile-update input[type="submit"],
#profile-password input[type="submit"],
#profile-delete input[type="submit"] {
  background-color: black;
  color: #fff;
}
#profile-delete p {
  width: 442.5px;
  font-size: 24px;
  margin: 20px 0;
}

/* -------------------------------------------------------------- best */
.best-category-gallery {
  width: 75%;
  margin: 0 auto;
  padding: 40px 0;
}
.best-category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-category-header a {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  border-radius: 3px;
  background-color: #fff;
  font-size: 13px;
}

.best-img-box {
  flex-basis: 49%;
  display: flex;
  justify-content: space-between;
}
.best-img-wrapper {
  position: relative;
  width: 49%;
  height: 49%;
}

.best-hover-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
.best-hover-box a {
  margin-top: 20px;
  font-size: 16px;
  text-decoration: underline;
}

.best-img-wrapper:hover .best-hover-box {
  display: flex;
}

.best-alone {
  width: 100%;
  height: 100%;
}

.best-notAlone {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
@media screen and (max-width: 768px) {
  .best-img-box {
    flex-direction: column;
  }
  .best-notAlone {
    margin-top: 3px;
    flex-direction: row;
    height: 500px;
  }
  .best-notAlone .best-img-wrapper {
    margin-bottom: 8px;
  }
}
