/* footer */
footer {
  position: relative;
  z-index: 3;
  top: 108.5px;
  bottom: 0em;
  width: 100%;
  background-color: black;
  color: #ffffff;
  font-size: 11px;
}

.footer-header {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 60px 0;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-header .col li {
  margin-top: 8px;
  color: #999999;
}

.footer-header .col li:hover {
  color: #ffffff;
}

/*  social */
.col4 i {
  font-size: x-large;
}

.footer-sns-list {
  display: flex;
  align-items: center;
}

.footer-header .col li.list-title {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer-header {
    flex-direction: column;
    align-content: space-between;
  }
  .footer-header .col {
    margin-bottom: 20px;
  }
}
