/* --------------------------------------------------------------  index mainpage*/
#index .main-card {
  width: 95%;
  margin: 0 auto 40px;
}

#index .card-comment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.card-comment-box .card-comment-header {
  text-align: center;
  margin-bottom: 40px;
}

.card-comment-header p {
  font-size: 16px;
}

#index .main-card video {
  width: 100%;
}

.slider {
  position: relative;
  display: flex;
  overflow-x: scroll;
  margin: 0 auto 20px;
  width: 95%;
  height: 500px;
}
.slider::-webkit-scrollbar {
  height: 4px;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
}
.slider::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
.slider::-webkit-scrollbar-thumb:active {
  background-color: black;
}
.slider .card {
  margin-right: 20px;
}
@media screen and (max-width: 883px) {
  .card .img-wrapper {
    width: 300px;
  }
}
