nav {
  width: 100%;
  color: rgb(140, 140, 140);
  position: fixed;
  font-size: 16px;
  top: 0;
  z-index: 99;
  background-color: #ffffff;
  transition: all 0.35s;
}
nav .mainNav > li:hover {
  border-bottom: 2px solid;
}

nav li a:hover {
  color: black;
}
nav li a {
  padding: 0 20px;
  display: inline-block;
  height: 38px;
  min-width: 30px;
  text-align: center;
}
/* upper, lower */
.nav-upper,
.nav-lower {
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(229, 229, 229);
}

/* nav-upper */
.nav-upper {
  padding-right: 20px;
  height: 38px;
  line-height: 38px;
  overflow-y: hidden;
}
#jordan-logo {
  position: relative;
  top: 6px;
  width: 38px;
  height: 40px;
}

/* top-nav */
.nav-upper .top-nav {
  align-items: center;
  font-size: 14px;
}

.nav-upper .top-nav li {
  border-right: 0.5px solid rgb(229, 229, 229);
  min-width: 80px;
  text-align: center;
}

/* nav-guide */
#nav-guide li {
  font-size: 12px;
  padding: 0 11px;
}
#nav-guide li:last-child a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
#nav-guide li:last-child i {
  font-size: 20px;
}
#nav-guide li a {
  padding: 0;
}

#signOpen {
  cursor: pointer;
}
#signOpen:hover {
  color: black;
}
.nav-upper .xi-cart {
  position: relative;
  font-size: 23px;
  line-height: 38px;
}

/* 장바구니 담은 개수 */
#nav-count-cart {
  position: absolute;
  top: 5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 10px;
  border-radius: 50%;
  background-color: rgb(248, 84, 32);
  color: #ffffff;
  font-weight: bold;
}

/* nav-lower */
.nav-lower {
  box-sizing: border-box;
  height: 70px;
  padding: 0 32px 0 20px;
  align-items: center;
}
.nikeLogo{
  width: 192px;
}

/* logo-wrapper */
.logo-wrapper {
  width: 80px;
  height: 69px;
}
/* main nav */
.nav-lower .mainNav {
  justify-content: center;
  text-transform: uppercase;
  flex: 1;
  height: 70px;
  color: black;
}
.nav-lower .mainNav li a {
  line-height: 70px;
}

/* search */
.nav-lower .search {
  border: 0.5px solid rgb(229, 229, 229);
  width: 224px;
  height: 40px;
  padding: 10px 30px 10px 49px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 2px;
}

#nonhide-search-icon {
  position: absolute;
  right: 220px;
  top: 64px;
  cursor: pointer;
}

/* dropdown */
.dropdown-box:hover .dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-wrapper {
  position: absolute;
  top: 108px;
  left: 0;
  z-index: 101;
  display: none;
  width: 100%;
  min-height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(229, 229, 229);
}

/* drop-down list */
.dropdown-wrapper .nav-list-wrapper {
  width: 800px;
  display: flex;
  justify-content: space-around;
  padding: 45px 0;
  font-size: 13px;
}
.nav-list-wrapper ul li {
  margin-bottom: 5px;
}
.nav-list-wrapper ul li a:hover {
  color: #e0e0e0;
}
.nav-list-wrapper ul + ul {
  border-left: 1px solid rgb(229, 229, 229);
  padding-left: 60px;
}
.nav-list.category,
.nav-list .list-title {
  font-size: 16px;
  font-weight: 600;
}

/* mobile */
#nav-mobile {
  display: none;
  color: black;
}

#nav-mobile .icon-wrapper {
  cursor: pointer;
}

#nav-mobile .icon-wrapper i {
  font-size: 28px;
}

#nav-mobile .hide-search {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  margin-top: 20px;
  padding-bottom: 20px;

  border-bottom: 0.5px solid rgb(229, 229, 229);
}
#nav-mobile .hide-search.none-hide {
  display: flex;
}
.hide-input-wrapper {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
}
#hide-search-icon {
  position: absolute;
  left: 8%;
}

#hide-search-input {
  width: 90%;
  background-color: rgb(242, 242, 242);
  border: inherit;
  border-radius: 4px;
  height: 50px;
  padding-left: 45px;
}
.hide-search-modal {
  display: none;
}

.hide-search-modal.big-modal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.search-msg-wrapper {
  width: 80%;
  height: 50%;
}
.search-msg-wrapper p {
  padding: 20px 0;
}
#hide-search-close {
  text-decoration: underline;
  cursor: pointer;
}

/* profile-toggle */
#user-profile {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#user-profile i {
  font-size: 20px;
  margin-right: 4px;
}
#user-profile:hover {
  color: black;
  border-bottom: 2px solid;
}

#user-profile-drop {
  display: none;
  position: absolute;
  top: 38px;
  right: 160px;
  width: 150px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  font-size: 12px;
  box-sizing: border-box;
  line-height: 34px;
  padding: 31px 32px 26px 32px;
  border: 1px solid #e0e0e0;
  color: black;
  z-index: 2000;
  flex-direction: column;
  justify-content: center;
}

#user-profile-drop.toggle-drop {
  display: flex;
}

input#sidebar {
  display: none;
}

#hide-sidebar {
  position: fixed;
  display: none;
  z-index: 20000;
  opacity: 0;
  top: 0;
  right: -73.5%;
  width: 73.5%;
  height: 100vh;
  background-color: #ffffff;
  transition: all 0.35s;
  overflow-y: scroll;
}

#whole-wrapper {
  position: fixed;
  top: 0;
  right: 73.5%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2000;
  opacity: 0;
}
#hamburger > label {
  cursor: pointer;
}
/* 로그인 모달 */
#open-login {
  cursor: pointer;
}
#close-login {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.whole-wrapper-login {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
}
.login-modal {
  display: none;
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #ffffff;
}
.login-modal .logo {
  margin: 40px auto;
  width: 89px;
  height: 32px;
  background: url(https://www.nike.com/kr/error/logo_shut.jpg) no-repeat 0 0;
}
.login-modal .login-header {
  text-align: center;
}

.login-modal form {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
input#toggle-aside,
input#toggle-section-header {
  display: none;
}

@media screen and (max-width: 920px) {
  .nav-upper {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .nav-lower {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }
  .nav-lower .mainNav {
    display: none;
  }
  .nav-lower .desktop-only {
    display: none;
  }
  #nav-mobile {
    display: flex;
    justify-content: space-between;
    width: 145px;
  }
  #hide-search-icon:focus #hide-search-focus {
    width: 100%;
    height: 100vh;
  }
  #user-profile-drop.toggle-drop {
    display: none;
  }
  input#sidebar:checked ~ nav {
    right: 73.5%;
  }
  input#sidebar:checked ~ #whole-wrapper {
    z-index: 20000;
    opacity: 1;
    overflow: hidden;
  }
  input#sidebar:checked ~ aside {
    left: -73.5%;
  }
  input#sidebar:checked ~ section {
    left: -73.5%;
  }
  input#sidebar:checked ~ #hide-sidebar {
    display: block;
    opacity: 1;
    right: 0;
  }

  #sidebar-inner-box {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  #sidebar-inner-box li {
    padding: 20px;
    background-color: rgb(247, 248, 247);
  }
  #sidebar-inner-box li:first-child {
    background-color: #ffffff;
  }
  #sidebar-inner-box li + li {
    border-top: 1px solid #e0e0e0;
  }

  /* 햄버거 드롭다운 메뉴 */
  .nav-ham-check {
    display: none;
  }

  .label-ham {
    cursor: pointer;
  }
  .ham-dropdown {
    display: none;
  }
  .nav-ham-check:checked ~ .ham-dropdown {
    display: flex;
    flex-direction: column;
  }
  .ham-dropdown p {
    padding-top: 20px;
  }
}

/* 로그인 모달 모바일 */
@media screen and (max-width: 575px) {
  .login-modal {
    width: 72.5%;
    height: 73.5%;
  }
}
