section.product {
    position: relative;
    z-index: 1;
    top: 108.5px;
    left: 200px;
    width: 80%;
  }
  
  /* wrapper */
  .product-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid;
  }
  
  /* card */
  .card {
    border: 1px solid;
    width: 300px;
    height: 408px;
    margin-bottom: 80px;
  }
  
  .card .img-wrapper {
    width: 300px;
    height: 300px;
  }
  