@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "S-CoreDream-2ExtraLight";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

input:focus {
  outline: 1px solid black;
}

.flex-box {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.hide {
  width: 0;
  height: 0;
}
/* title */
.title {
  font-size: 16px;
}
.list-title {
  font-size: 13px;
}

.big-title {
  font-size: 26px;
}

.main-title {
  font-size: 42px;
}

.round-btn {
  display: inline-block;
  border-radius: 20px;
  background-color: black;
  color: #ffffff;
  height: 40px;
  padding: 11px 25px;
  font-size: 14px;
}

.round-btn-big {
  display: inline-block;
  border-radius: 20px;
  background-color: black;
  color: #ffffff;
  width: 385px;
  height: 60px;
  padding: 24px;
  text-align: center;
  font-size: 15px;
}
.round-btn-big.white {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.btn-rectangle {
  padding: 8px 16px;
  background-color: black;
  color: #ffffff;
  font-size: 13px;
}

/* ---------------------------------------------------------color */
.color-gray {
  color: #e0e0e0;
}
.color-8D {
  color: #8d8d8d;
}
.color-orange {
  color: rgb(248, 84, 32);
}
.color-light-o {
  color: #aa8375;
}

/* ---------------------------------------------------------membership find modal */
.find-membership-modal {
  display: none;
  position: fixed;
  z-index: 2002;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
}

#find-membership-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}

#find-membership-wrapper span {
  font-size: 10px;
  color: #8d8d8d;
  cursor: pointer;
}

.close-find-membership {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 20px;
}

.close-find-membership i {
  font-size: 20px;
  cursor: pointer;
}
.find-membership-modal h3 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.find-membership-modal p {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.find-membership-div {
  display: flex;
  width: 70%;
  margin: 20px auto;
  flex-direction: column;
}

.find-membership-div > * {
  margin-bottom: 20px;
}

.find-membership-div > input {
  padding: 9px 16px;
  height: 44px;
}
.find-membership-div > p > span {
  text-align: center;
  cursor: pointer;
}

.find-membership-div > p > span > strong {
  text-decoration: underline;
}

#email-alert-msg {
  color: rgb(248, 84, 32);
  font-size: 10px;
}

/* 이메일 검증한 다음단계 */
#email-verified {
  display: none;
  width: 75%;
  margin: 0 auto;
}
.find-profile-listWrapper {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.find-profile-list {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
.find-profile-list + .find-profile-list {
  border-top: 1px solid #e0e0e0;
}

.find-profile-list > div {
  display: flex;
  padding: 10px 0;
}
.find-profile-list > div > p {
  text-align: left;
  margin: 0;
}

.find-profile-list > div > span {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  color: #888888;
  font-weight: bold;
  cursor: pointer;
}

.find-profile-list > ul > li {
  padding: 5px 0;
}

/*  이전단계 */
#back-to-lastStep {
  display: block;
  width: 20%;
  margin: 15px auto;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
