* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input:focus {
  outline: 1px solid black;
}
/* 가시화를 위한 임시 */
/* div {
        box-sizing: border-box;
        border: 1px solid;
      } */

.flex-box {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.hide {
  width: 0;
  height: 0;
}
/* modal */

/* modal */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modal {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 420px;
}
.modal a:hover {
  color: rgb(229, 229, 229);
}
.modal h2 {
  text-align: center;
  margin-bottom: 20px;
}
.modal > .logo-wrapper {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.modal form .sign-in {
  height: 40px;
  padding: 10px;
  margin: 10px 0;
}

.modal .sign-in-find {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#signClose {
  position: absolute;
  border: none;
  background-color: #ffffff;
  right: 6%;
  top: 6%;
  font-size: 22px;
}
#signClose:hover {
  color: rgb(229, 229, 229);
}

/* sns-box */
.modal .sns-box {
  margin: 0;
}
.modal .sns {
  width: 100%;
}

.modal button[type="submit"] {
  margin-top: 30px;
  background-color: black;
  color: #ffffff;
}
.modal button[type="submit"]:hover {
  background-color: rgb(52, 52, 52);
}

.sign-in-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sign-in-footer a {
  text-decoration: underline;
}

.sign-footer-box {
  margin-bottom: 10px;
}

/* footer */
footer {
  position: relative;
  top: 108.5px;
  bottom: 0em;
  width: 100%;
  height: 80vh;
  background-color: black;
  color: #ffffff;
}
