<!-- 확장 -->
{% extends "product/base.html" %}

<!-- 링크확장 -->
{% load static %}
<!-- 링크확장 -->
{% block link %}
<link rel="stylesheet" href="{% static 'order/css/checkout.css' %}" />
<script src="{% static 'order/js/checkout-next-step.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

<!-- 정수 필터 확장-->
{% load humanize %}

<!-- title 확장 -->
{% block title %} 나이키 {% endblock %}

<!-- content -->
{% block content %}
<section id="checkout" class="cover">
  {% if user.is_authenticated %}
  <div class="checkout-header-box">
    <h1 class="main-title">주문결제</h1>
  </div>
  <div class="checkout-main-box">
    <div class="client-detail-box">
      <div class="checkout-tab-box">
        <ul class="checkout-list-box">
          <input
            type="checkbox"
            name="checkout-tab-menu"
            id="checkout-client-detail"
          />
          <label for="checkout-client-detail">
            <li class="checkout-list-header">
              <span>주문 고객</span>
              <i class="xi-plus"><span id="username">{{ user.email }}</span></i>
              <i class="xi-minus"></i>
            </li>
          </label>
          <li>
            <span>{{ user.username }}</span>
          </li>
          <li>
            <span>{{user.email}}</span>
          </li>
        </ul>
      </div>
      <div class="checkout-tab-box" id="checkout-address-box">
        <!-- 배송지가 없을 경우 -->
        {% if not shipping_instance %}
        <ul class="checkout-list-box">
          <input
            type="checkbox"
            checked
            name="checkout-tab-menu"
            id="checkout-address-detail"
          />
          <label for="checkout-address-detail">
            <li class="checkout-list-header">
              <span>배송지 정보</span>
              <i class="xi-plus"><span id="after-address"></span></i>
              <i class="xi-minus"></i>
            </li>
          </label>
          <li id="address-list1">
            <div>
              <span>받으시는 분</span>
              <span id="receive_name_info" class="alert-msg"></span>
              <input type="text" name="name" autofocus placeholder="이름" id="receive_name" class="input-info"/>
            </div>
            <div>
              <span>연락처</span>

              <span id="receive_phone_info" class="alert-msg"></span>
                <input
                  name="phone"
                  type="text"
                  placeholder="-없이 입력"
                  id="receive_phone"
                  class="input-info"
                />
            </div>
          </li>
          <li>
            <span>배송 주소</span>
            <span id="receive_address_info" class="alert-msg"></span>
            <input
            name="address"
              type="text"
              placeholder="나머지 주소 입력"
              id="receive_address"
              class="input-info"
            />

          </li>
          <li>
            <span>배송 메모를 입력해주세요</span>
            <span id="receive_memo_info" class="alert-msg"></span>
            <input
            name="memo"
              type="text"
              placeholder="ex. 부재시 문 앞에 놔주세요"
              id="memo"
              class="input-info"
            />
          </li>
          <li>
            <p id="alert-msg-next"></p>
            <a href="/cart"><span>장바구니 바로가기</span></a>
            <button id="checkout-next">다음단계 진행</button>
            <button id="modify-client-detail" style="display: none;">수정하기</button>
            <button id="modify-client" style="display: none;">수정완료</button>
          </li>
        </ul>
        <!-- 배송지가 있다면 -->
    {% else %}
    <ul class="checkout-list-box" id="checkout-address-wrapper">
      <input
        type="checkbox"
        checked
        name="checkout-tab-menu"
        id="checkout-address-detail"
      />
      <label for="checkout-address-detail">
        <li class="checkout-list-header">
          <span>배송지 정보</span>
          <i class="xi-plus"><span id="after-address"></span></i>
          <i class="xi-minus"></i>
        </li>
      </label>
      <li id="input-user_address">
        <input type="radio" name="address-tab" checked value="oldAddress" id="checkout-address-tab-old">
        <input type="radio" name="address-tab" value="newAddress" id="checkout-address-tab-new">
        <div class="tab-header">
          <label id="checkout-address-label-old" for="checkout-address-tab-old">이전 주소</label>
          <label id="checkout-address-label-new" for="checkout-address-tab-new">새로 입력</label>
        </div>
        {% for ship in shipping_instance %}
        <div class="checkout-address-oldList">
          <span class="receiver-name">{{ ship.receiver }}</span>
          <span class="receiver-address">{{ ship.receiver_address }}</span>
          <span class="receiver-phone">{{ ship.receiver_phone }}</span>
        </div>
        {% endfor %}
        <div class="checkout-address-memo">
          <input type="text" placeholder="배송 메모를 입력해주세요" id="checkout-address-memo">
        </div>

        <!-- 새 배송지 입력 -->
        <div class="checkout-address-newList">
          <ul>
            <li>
              <span>받으시는 분</span>
              <span id="receive_name_info" class="alert-msg"></span>
              <input type="text" name="name" autofocus placeholder="이름" id="receive_name" class="input-info"/>
            </li>
            <li>
              <span>연락처</span>
              <span id="receive_phone_info" class="alert-msg"></span>
                <input
                  name="phone"
                  type="text"
                  placeholder="-없이 입력"
                  id="receive_phone"
                  class="input-info"
                />
            </li>
            <li>
              <span>배송 주소</span>
              <span id="receive_address_info" class="alert-msg"></span>
              <input
              name="address"
                type="text"
                placeholder="나머지 주소 입력"
                id="receive_address"
                class="input-info"
              />

            </li>
            <li>
              <span>배송 메모를 입력해주세요</span>
              <span id="receive_memo_info" class="alert-msg"></span>
              <input
              name="memo"
                type="text"
                placeholder="ex. 부재시 문 앞에 놔주세요"
                id="memo"
                class="input-info"
              />
            </li>
          </ul>
        </div>
      </li>
      <li id="before-next-step" style="display: none;">
        <p>
          <span>받으시는 분 :</span>
          <span class="after-checkout" id="checkout-username"></span>
        </p>
        <p>
          <span>받으실 주소 :</span>
          <span class="after-checkout" id="checkout-address"></span>
        </p>
        <p>
          <span>연락받으실 번호 :</span>
          <span class="after-checkout" id="checkout-phone"></span>
        </p>
        <p>
          <span>부탁하신 배송 메모 :</span>
          <span class="after-checkout" id="checkout-memo"></span>
        </p>
      </li>
      <li>
        <p id="alert-msg-next"></p>
        <a href="/cart"><span>장바구니 바로가기</span></a>
        <button id="checkout-next2">다음단계 진행</button>
      </li>
    </ul>
    {% endif %}
      </div>
      <div class="checkout-tab-box checkout-next-step">
        <ul class="checkout-list-box">
          <input
            type="checkbox"
            name="checkout-tab-menu"
            id="checkout-sale-detail"
          />
          <label for="checkout-sale-detail">
            <li class="checkout-list-header">
              <span>할인/혜택사용</span>
              <i class="xi-plus"></i>
              <i class="xi-minus"></i>
            </li>
          </label>
          <li>
            <span
              >사용 가능한 프로모 코드를 확인하시고 아래 프로코드 란에 입력하여
              사용하세요.</span
            >
          </li>
          <li>
            <!-- 사용가능한 쿠폰이 있을 경우 -->
            <ul>
              <li>
                <!-- 안내 -->
                <span>* 사용 가능한 신규가입 쿠폰이 있습니다.</span>
              </li>
              <li>
                <!-- 코드 -->
                <span>- 쿠폰 코드 : </span>
              </li>
              <li>
                <!-- 주의사항 -->
                <span
                  >- 1만원 할인 적용되며 장바구니 전체에 5만원 이상 구매 시
                  적용됩니다.</span
                >
              </li>
            </ul>
          </li>
          <li>
            <span>프로모 코드</span
            ><input type="text" placeholder="프로모 코드 입력" />
          </li>
        </ul>
      </div>
      <!-- 결제 여부 -->
      <div class="checkout-tab-box checkout-next-step">
        <ul class="checkout-list-box">
          <input
            type="checkbox"
            name="checkout-tab-menu"
            id="checkout-pay-detail"
          />
          <label for="checkout-pay-detail">
            <li class="checkout-list-header">
              <span>결제</span>
              <i class="xi-plus"></i>
              <i class="xi-minus"></i>
            </li>
          </label>
          <li>
            <!-- 이 버튼에 ajax 추가하시면 됩니다. -->
            <!-- 배송지 data : userInfo -->
            <button onclick="makeOrder()">결제하기</button>
            <script>
              function makeOrder() {
                var receive_name = userInfo.name;
                var receive_phone = userInfo.phone;
                var receive_address = userInfo.address;
                var memo = userInfo.memo;
                $.ajax({
                  type: "POST",
                  url: "{% url 'order:make-order' %}",
                  data: {receive_name: receive_name,
                          receive_phone: receive_phone,
                          receive_address: receive_address,
                          memo: memo,
                          csrfmiddlewaretoken: '{{ csrf_token }}'},
                  success: function(response) {
                    var answer = response.result;
                    if (answer == 'success') {
                      window.location.href = "{% url 'order:complete' %}";
                    }
                    if (answer == 'fail') {
                      alert("에러!");
                    }
                  }
                });
              }
            </script>
          </li>
        </ul>
      </div>
    </div>
    <!-- 주문 상세 정보 -->
    <div class="order-detail-box">
      <div class="cart-order-box">
        <div class="cart-order-header">
          <strong class="title">주문내역</strong>
        </div>
        {% for item in order_list %}
        <div class="order-detail-thumbnail">
          <div class="img-wrapper">
            <img
              src="{{ item.inventory.product_id.thumbnail.url }}"
              alt="주문상품썸네일"
            />
          </div>
          <ul class="cart-order-info">
            <li class="order-info-list"><span>{{ item.inventory.product_id.name }}</span></li>
            <li class="order-info-list"><span>스타일 : {{ item.inventory.product_id.style }}</span></li>
            <li class="order-info-list"><span>사이즈 : {{ item.inventory.size }}</span></li>
            <li class="order-info-list"><span>수량 : {{ item.quantity }}개</span></li>
            <li class="order-info-list color-orange"><span>{{ item.inventory.product_id.price|intcomma }} 원</span></li>
          </ul>
        </div>
        {% endfor %}
        <ul class="cart-order-info">
          <li class="order-info-list">
            <span>상품 금액</span><span>{{ request.session.order_info.amount|intcomma }}원</span>
          </li>
          <li class="order-info-list">
            <span>예상 배송비</span><span>{{ request.session.order_info.shipping_price|intcomma }}원</span>
          </li>
          <li class="order-info-list">
            <span>상품 할인 금액</span><span class="color-orange">0원</span>
          </li>
          <li class="order-info-list">
            <span>주문 할인 금액</span><span class="color-orange">0원</span>
          </li>
          <li class="order-info-list">
            <span>총 결제 예정 금액</span><span class="color-orange">{{ request.session.order_info.total_price|intcomma }}원</span class="cart-item-price">
          </li>
        </ul>
      </div>
    </div>
  </div>
{% else %}
<div class="already-login">
  <h2 class="title">나이키</h2>
  <span>로그인이 필요한 기능입니다.</span>
  <div class="flex-box">
    <a href="/member/login">로그인</a>
    <a href="/">홈으로</a>
  </div>
</div>
{% endif %}
</section>

{% endblock %}