{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<h3>주문내역</h3>
{% for item in order_list %}
<img src="{{ item.inventory.product_id.thumbnail.url }}" width="200" height="200">
<p>{{ item.inventory.product_id.name }}</p>
<p>{{ item.inventory.product_id.style }}</p>
<p>{{ item.inventory.size }}</p>
<p>{{ item.quantity }}</p>
<p>{{ item.inventory.product_id.price|intcomma }}</p>
{% endfor %}
<p>상품금액 000,000원</p>
<p>총 결제 예정금액 {{ request.session.order_info.total_price|intcomma }}원</p>
<h3>주문고객</h3>
<p>세션에서 주문고객 정보를 받아옵니다..</p>
<h3>배송지 정보</h3>
<p>받는 사람: {{ request.session.order_info.receive_name }}</p>
<p>연락처: {{ request.session.order_info.receive_phone }}</p>
<p>배송주소: {{ request.session.order_info.receive_address }}</p>
<h3>결제수단 선택</h3>
<p><input type="text" value="신용카드"></p>
<p><input type="checkbox" id="chk-agree">어쩌구 동의합니다.</p>

<button onclick="makeOrder()">{{ request.session.order_info.total_price|intcomma }}원 결제하기</button>

<script>
    function makeOrder() {
        if (!($("#chk-agree").is(":checked"))) {
            alert("결제동의에 체크해주세요!");
            return;
        }

        $.ajax({
          type: "POST",
          url: "{% url 'order:make-order' %}",
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(response) {
            var answer = response.result;
            if (answer == 'success') {
              window.location.href = "{% url 'order:complete' %}";
            }
            if (answer == 'fail') {
              alert("에러!");
            }
          }
        });
    }
</script>
</body>
</html>