{% extends "member/profile-base.html" %}
<!-- 템플릿 확장 -->
{% load static %}
<!-- 링크 -->
{% block link %}
<link rel="stylesheet" href="{% static 'order/css/checkout.css' %}" />
<link rel="stylesheet" href="{% static 'order/css/shipping.css' %}" />
<script src="{% static 'order/js/shipping.js' %}"></script>
{% endblock %}

<!-- modal -->
{% block modal %}
<input type="checkbox" id="shipping-modal" />
<div id="plus-shipping">
  <div class="shipping-box">
    <label for="shipping-modal"><i class="xi-close"></i></label>
    <!-- 로그인 되었다면 -->
    {% if user.is_authenticated %}
    <form
      method="POST"
      action="{% url 'order:shipping' %}"
      id="form-shipping-plus"
    >
      {% csrf_token %} {{ form }}
      <input type="submit" value="배송지 추가" />
    </form>
    {% else %}
    <div class="already-login">
      <h2 class="title">나이키</h2>
      <span>로그인이 필요한 기능입니다.</span>
      <div class="flex-box">
        <a href="/member/login">로그인</a>
        <a href="/">홈으로</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<input type="checkbox" id="shipping-modify" />
<div id="modify-shipping">
  <div class="shipping-box">
    <label for="shipping-modify"><i class="xi-close"></i></label>
  </div>
</div>
{% endblock %}

<!-- content -->
{% block profileContent %}
<div class="profile-list-title shipping-title">
  <h2 class="big-title">
    배송지 관리
  </h2>
  <label for="shipping-modal" class="btn-rectangle">새 배송지 추가</label>
</div>
{% if not shipping_instance %}
<div>등록된 배송지가 없습니다</div>
{% else %}
<!-- for 문을 통한 배송지 내역 반복문 -->
<div class="order-address-box">
  {% for ship in shipping_instance %}
  <div class="order-address-list">
    <span class="order-address-nickname">{{ ship.destination_nickname }}</span>
    <span>{{ ship.receiver }}</span>
    <p class="order-address-wrapper">
      <span class="color-gray">도로명</span>
      <span>{{ ship.receiver_address }}</span>
    </p>
    <p class="order-address-wrapper">
      <span class="color-gray">연락처</span>
      <span>{{ ship.receiver_phone }}</span>
    </p>
    <label for="shipping-modify">수정</label>
  </div>
  {% endfor %}
</div>
<!-- if -->
{% endif %}
<!-- content -->
{% endblock %}
