{% extends "product/base.html" %}

<!-- title -->
{% block title %}나이키{% endblock %}

<!-- sign-in content -->
{% block content %}
<section class="cover" id="sign-in">
  <div class="sign-in-header">
    <div class="logo-wrapper">
      <img
        src="https://t1.daumcdn.net/cfile/tistory/2425A9455747DAB308"
        alt="나이키로고"
      />
    </div>
    <h1>나이키 로그인</h1>
  </div>

  {% if login_form %}
  <form method="POST" class="form-box-signIn">
    {% csrf_token %} {{ login_form.as_p }}
    <input type="submit" value="로그인" />
    <div class="sign-in-footer">
      <span>회원이 아니신가요? <a href="/member/signup">회원가입하기</a></span>
    </div>
  </form>

  {% else %}
  <div>{{ message }}</div>
  <a href="/member/login/"
    ><button type="button" class="btn btn-primary">
      go back
    </button>
  </a>
  {% endif %}
  <!-- js -->
  {% load static %}
  <script src="{% static 'member/js/member.js' %}"></script>
</section>
{% endblock %}
