{% extends "product/base.html" %}

<!-- 좌측 aside -->
{% block aside %}
<aside id="profile">
  <ul id="profile-ul">
    <li><strong class="big-title">MY PAGE</strong></li>
    <li><strong>{{ user.username }}</strong></li>
    <li><strong>회원등급 현황</strong></li>
    <li>
      <div>
        <strong>쇼핑정보</strong>
        <a href="/member/order/"><span>주문 배송</span></a>
        <a href=""><span>취소 / 반품</span></a>
        <a href=""><span>반품 현황</span></a>
        <a href=""><span>매장픽업 서비스</span></a>
        <a href=""><span>입고 알림 신청 내역</span></a>
      </div>
    </li>
    <li>
      <div>
        <strong>활동정보</strong>
        <a href=""><span>장바구니</span></a>
        <a href=""><span>상품리뷰</span></a>
      </div>
    </li>
    <li>
      <div>
        <strong>나의정보</strong>
        <a href=""><span>배송지 관리</span></a>
        <a href=""><span>회원정보 관리</span></a>
        <a href=""><span>비밀번호 변경</span></a>
        <a href=""><span>회원탈퇴</span></a>
      </div>
    </li>
    <li>
      <div>
        <span>나이키닷컴 고객센터</span>
        <span>080-022-0182</span>
        <span>월~일 : 오전 9시 ~ 오후 8시</span>
      </div>
    </li>
  </ul>
</aside>
{% endblock %}

<!-- content -->
{% block content %}
<section id="profile">
  {% block profileContent %}
  <!-- 카테고리별 콘텐츠 -->
  {% endblock %}
</section>
{% endblock %}
