{% extends "member/profile-base.html" %}{% load humanize %}

<!-- static 확장 -->
{% load static %}
<!-- link -->
{% block link %}
<link rel="stylesheet" href="{% static 'member/css/profile-rate.css' %}" />
<link rel="stylesheet" href="{% static 'member/css/profile.css' %}" />
<script src="{% static 'member/js/profile-rate.js' %}"></script>
{% endblock %}

<!-- 타이틀 -->
{% block title %}나이키{% endblock %}

<!-- content -->
{% block profileContent %}
<div class="profile-list-title">
  <h2 class="big-title">회원등급 현황</h2>
</div>
<header class="profile-rate">
  <p>회원등급</p>
  <p class="big-title">
    <strong id="user-rate">{{ my_profile.user_grade }}</strong>
  </p>
</header>
<div class="current-orderPrice">
  <div>
    <p>구매금액 현황<i class="xi-info"></i></p>
    <p>
      <span id="current-price">{{total}}</span>
      <span>원</span>
      <span id="order-percent"></span>
    </p>
  </div>
  <div>
    <div class="percentage-bar">
      <span class="percentage"
        ><i class="xi-arrow-down"></i><span>{{total|intcomma}}원</span></span
      >
      <div class="percentage"></div>
      <span id="max-price">1000000원</span>
    </div>
  </div>
</div>
<h5>보유쿠폰: {{ my_profile.coupon }}</h5>
{% endblock %}
