{% extends "member/service.html" %}

<!-- static 확장 -->
{% load static %}
<!-- link -->
{% block link %}
<link rel="stylesheet" href="{% static 'member/css/service-cancel.css' %}" />
<!-- xeicon -->
<link
  rel="stylesheet"
  href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
/>
<script src="{% static 'member/js/service-cancel.js' %}"></script>
{% endblock %}

<!-- title -->
{% block title %}
<h2>주문 취소 신청</h2>
{% endblock %}

<!-- content -->
{% block content %}
<section id="cancel-section">
  <div class="section">
    <div class="section-header">
      <h2>주문취소</h2>
    </div>
    <div class="content-box">
      <div class="form-wrapper">
        <div>
          <span>작성자</span>
          <input
            id="userName"
            type="text"
            value="{{user.username}}"
            placeholder="아이디를 입력해주세요"
          />
        </div>
        <div>
          <span>취소하실 제품</span>
          <div class="order-dropdown-wrapper">
            <p>
              <span class="checked-product"></span>
              <span id="xi-icons">
                <i class="xi-angle-down"></i>
                <i class="xi-angle-up"></i>
              </span>
            </p>
            <div class="hide-dropdown-box">
              {% for order in my_orders %}
              <ul class="order-list-wrapper">
                <li class="product-size">{{ order.size }}</li>
                <li class="product-quantity">{{ order.quantity }}</li>
                <li class="product-date">{{ order.order_id.order_date }}</li>
                <li class="product-orderNum">{{ order.pk }}</li>
                <li class="product-price">{{ order.order_id.total_price }}</li>
                <li class="product-name">{{ order.product_id.name }}</li>
                <li class="product-style">{{ order.product_id.style }}</li>
                <li class="product-url">{{ order.product_id.thumbnail }}</li>
              </ul>
              {% endfor %}
            </div>
            <div class="toggle-dropdown">
              <ul class="toggle-ul"></ul>
            </div>
          </div>
        </div>
        <div>
          <span>제목</span>
          <span class="color-orange alert-msg-title"></span>
          <input
            type="text"
            placeholder="제목을 입력해주세요"
            id="cancel-input-title"
          />
        </div>
        <div>
          <span>취소사유</span>
          <span class="color-orange alert-msg"></span>
          <textarea
            id="cancel-input-body"
            cols="30"
            rows="10"
            placeholder="ex. 사이즈불량"
          ></textarea>
        </div>
        <div class="cancel-wrapper desktop">
          <span class="submit-btn">신청하기</span>
        </div>
      </div>

      <div class="option-box">
        <span>주문 상세 정보</span>
        <div class="option-wrapper">
          <div class="mini-cart-card">
            <div class="mini-image-wrapper">
              <img
                id="product-thumNail"
                src="https://allmods.net/wp-content/uploads/2018/08/no-image-available.png"
                alt=""
              />
            </div>
            <div class="mini-cart-detail">
              <ul class="mini-cart-wrapper">
                <li>
                  <span class="checked-product">선택된 상품이 없습니다.</span>
                </li>
                <li><span id="checked-style"></span></li>
                <li>
                  <span id="checked-size"></span>
                </li>
                <li>
                  <span id="checked-quantity"></span>
                </li>
                <li>
                  <span class="color-orange" id="checked-price"></span>
                </li>
              </ul>
              <div class="cancel-wrapper mobile">
                <span class="submit-btn">신청하기</span>
              </div>
            </div>
          </div>
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
