{% extends "member/service.html" %}

<!-- static 확장 -->
{% load static %}
<!-- link -->
{% block link %}
<link rel="stylesheet" href="{% static 'member/css/service-cancel.css' %}" />
<link rel="stylesheet" href="{% static 'member/css/service-list.css' %}" />
<!-- xeicon -->
<link
  rel="stylesheet"
  href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
/>
<script src="{% static 'member/js/service-list.js' %}"></script>
{% endblock %}

<!-- title -->
{% block title %}
<h2>주문 취소 내역</h2>
{% endblock %}

<!-- content -->
{% block content %}
<section id="cancel-list-box">
  <div class="section">
    <div class="userSection">
      <span id="username">{{user.username}}</span
      ><span>님의 처리중인 취소 목록입니다.</span>
    </div>
    <ul class="cancel-list-wrapper">
      <li class="cancel-list">
        <span>주문 번호</span>
        <span>제목</span>
        <span>작성자</span>
        <span>취소 신청 날짜</span>
        <span>취소 하신 제품</span>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
