@font-face {
  font-family: "Arita-dotum-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Arita-dotum-Medium", sans-serif;
}
p {
  margin: 0;
}
span.big-title {
  font-size: 87.6px;
  font-weight: bold;
}
span.main-title {
  font-size: 50px;
  font-weight: bold;
}
span.sub-title {
  font-size: 30px;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
}
/* --------------------------------------------------------content */
section {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  margin-bottom: 200px;
}
#landing-page {
  color: #fff;
}
.landing-video {
  min-width: 100%;
  min-height: 100vh;
}
/* --------------------------------------------------------header*/

header {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 95%;
  justify-content: space-between;
}
/* 색상 반전 */
header .logo-wrapper {
  width: 60px;
  height: 30px;
}
header .logo-wrapper img {
  filter: invert(1);
  width: 100%;
  height: 100%;
}
/* hamburger*/
header button:focus {
  outline: none;
}
header button {
  position: relative;
  width: 20px;
  height: 24px;
}
.hamburger {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.hamburger:before {
  position: absolute;
  top: -7px;
  right: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: inherit;
}
.hamburger:after {
  position: absolute;
  top: 7px;
  right: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: inherit;
}

/* -------------------------------------------------------- landing-home*/
#landing-header {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 70%;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#landing-header span {
  font-weight: bold;
  animation: fadein 3s;
  transition: ease 0.35s;
}
#landing-header span:hover {
  color: black;
}

#landing-header span:nth-child(1) {
  margin-bottom: 20px;
}
#landing-header span:nth-child(3) {
  margin-bottom: 20px;
}

/* -------------------------------------------------------- about*/
.section-content-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}
.section-content-box > div {
  flex-basis: 45%;
}

.comment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-box > span {
  border-bottom: 2px solid seagreen;
  margin-bottom: 20px;
}
.section-content-box .img-wrapper {
  position: relative;
  width: 100%;
  height: 95vh;
}

.img-wrapper .border-box-right {
  position: absolute;
  z-index: -1;
  top: -10px;
  right: -10px;
  width: 80%;
  height: 80%;
  background-color: seagreen;
}

.img-wrapper .border-box-left {
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  width: 80%;
  height: 80%;
  background-color: seagreen;
}
