nav {
  width: 100%;
  color: rgb(140, 140, 140);
  position: fixed;
  font-size: 16px;
  top: 0;
  z-index: 99;
  background-color: #ffffff;
}
nav li a:hover {
  color: black;
}
nav li a {
  padding: 0 20px;
  display: inline-block;
  height: 38px;
  min-width: 30px;
  text-align: center;
}
/* upper, lower */
.nav-upper,
.nav-lower {
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(229, 229, 229);
}

/* nav-upper */
.nav-upper {
  height: 38px;
  line-height: 38px;
  overflow-y: hidden;
}
/* 로고 추가했습니다. */
#jordan-logo {
  position: relative;
  top: 6px;
  width: 38px;
  height: 40px;
}

/* top-nav */
.nav-upper .top-nav {
  align-items: center;
  font-size: 14px;
}

.nav-upper .top-nav li {
  border-right: 0.5px solid rgb(229, 229, 229);
  min-width: 80px;
  text-align: center;
}

/* nav-guide */
#nav-guide li {
  font-size: 12px;
  padding: 0 11px;
}
#nav-guide li a {
  padding: 0;
}

#signOpen {
  cursor: pointer;
}
#signOpen:hover {
  color: black;
}

.nav-upper .xi-cart {
  font-size: 16px;
  line-height: 38px;
}

/* nav-lower */
.nav-lower {
  box-sizing: border-box;
  height: 70px;
  padding: 0 32px 0 30px;
  align-items: center;
}

/* logo-wrapper */
.nav-lower .nikeLogo {
  width: 194px;
}
.logo-wrapper {
  width: 80px;
  height: 69px;
}
/* main nav */
.nav-lower .mainNav {
  justify-content: center;
  text-transform: uppercase;
  flex: 1;
  height: 70px;
  color: black;
}
.nav-lower .mainNav li a {
  line-height: 70px;
}

/* search */
.nav-lower .search {
  border: 0.5px solid rgb(229, 229, 229);
  width: 224px;
  height: 40px;
  padding: 10px 30px 10px 49px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 2px;
}

/* hide button */
button.hide {
  border: none;
}

#nonhide-search-icon {
  position: absolute;
  right: 220px;
  top: 64px;
  cursor: pointer;
}

/* dropdown */
.dropdown-box:hover .dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-wrapper {
  position: absolute;
  top: 108px;
  left: 0;
  z-index: 101;
  display: none;
  width: 100%;
  min-height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(229, 229, 229);
}

/* drop-down list */
.dropdown-wrapper .nav-list-wrapper {
  width: 800px;
  display: flex;
  justify-content: space-around;
  padding: 45px 0;
  font-size: 13px;
}
.nav-list-wrapper ul li {
  /* font-size: 12px; */
  margin-bottom: 10px;
}
.nav-list-wrapper ul + ul {
  border-left: 1px solid rgb(229, 229, 229);
  padding-left: 60px;
}
.nav-list.category,
.nav-list .list-title {
  font-size: 16px;
  font-weight: 600;
}

/* mobile */
#nav-mobile {
  display: none;
  color: black;
}

#nav-mobile .icon-wrapper {
  width: 30px;
  height: 30px;
  /* border: 1px solid; */
  margin-left: 20px;
  cursor: pointer;
}

#nav-mobile .icon-wrapper i {
  font-size: 28px;
}

#nav-mobile .hide-search {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  margin-top: 20px;
  padding-bottom: 20px;

  border-bottom: 0.5px solid rgb(229, 229, 229);
}
#nav-mobile .hide-search.none-hide {
  display: flex;
}
.hide-input-wrapper {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
}
#hide-search-icon {
  position: absolute;
  left: 8%;
}

#hide-search-input {
  width: 90%;
  background-color: rgb(242, 242, 242);
  border: inherit;
  border-radius: 4px;
  height: 50px;
  padding-left: 45px;
}

.big-modal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  transition: ease 0.5s;
}

@media screen and (max-width: 768px) {
  .nav-upper {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .nav-lower .mainNav {
    display: none;
  }
  .nav-lower .desktop-only {
    display: none;
  }
  #nav-mobile {
    display: flex;
  }
  #hide-search-icon:focus #hide-search-focus {
    width: 100%;
    height: 100vh;
  }
}
