@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "S-CoreDream-2ExtraLight";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

input:focus {
  outline: 1px solid black;
}

.flex-box {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.hide {
  width: 0;
  height: 0;
}
.whole-wrapper {
  display: none;
  position: absolute;
  top: 108px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
}
/* title */
.title {
  font-size: 16px;
}
.list-title {
  font-size: 13px;
}

.big-title {
  font-size: 26px;
}

.main-title {
  font-size: 42px;
}

.round-btn {
  display: inline-block;
  border-radius: 20px;
  background-color: black;
  color: #ffffff;
  height: 40px;
  padding: 11px 25px;
  font-size: 14px;
}

.round-btn-big {
  display: inline-block;
  border-radius: 20px;
  background-color: black;
  color: #ffffff;
  width: 385px;
  height: 60px;
  padding: 24px;
  text-align: center;
  font-size: 15px;
}
.round-btn-big.white {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}
